[2017-05-26 11:03] JosephMcArthur opened #1 "Getting to V.1 of this repo"
With sections in rough order of priority...

# Housekeeping & Introing

- [x] Set up a readme documenting what we're doing here
- [x] Getting everyone on Github
  - [x] help them get their notification set up right
- [x] Do a walkthrough for staff / oc on a call

# Issues

- [x] set up labels
- [x] set up a few key milestones
- [ ] Document issues use (what do each things mean for our team)
- [x]

[2017-05-26 11:15] JosephMcArthur opened #2 "Setting up a "pre-print" zone"
The aim, from emails:

For this, using gitpages, or here generally, to help signals "unfinished but maybe helpful" is the current best plan.

This issue is to set up that system, and roll it out to staff. I'm expecting to need:
- [ ] a place in the repo designed to do that
- [ ] give an example
- [ ] test / describe how to do this for non-markdown docs
- [ ] tell & encourage staff

Once that's don

[2017-06-05 10:13] JosephMcArthur opened #3 "Communications for the Application Period"
Key challenge: upping the % of researchers reached by the messaging

- [ ] website
  - [ ] frontpage
  - [ ] applications flow pages (e.g app complete page = /thank_you)
  - [ ] subpages for explaining Open Access, Open Data, Open Education (link from frontpage)
- [ ] emails / tweets etc
- [ ] media outreach
- [ ] referral system
- [ ] scholarly societies (and their newsletters)
- [ ] staff outrea

[2017-06-05 10:15] JosephMcArthur opened #4 "Plan OpenCon Doathon"
- [x] agenda
- [x] room-setups
- [x] sat / sun programming to support

[2017-06-05 10:15] JosephMcArthur opened #5 "Evaluate story circle plans"

[2017-06-05 10:18] JosephMcArthur opened #6 "Evaluate unconference plans"

[2017-06-05 10:27] JosephMcArthur opened #7 "Get the OC community sub-group up to speed with community work"

[2017-06-05 11:20] JosephMcArthur opened #8 "Launch mini-site for repo"
Moved from #1

# Launch & participation

- [x] set up git pages
- [x] set up a contribution.md
- [ ] set up a page on git pages that nicely explains what is going on & invites people "in".
- [x] set up the ability to submit issues over email

[2017-06-05 11:22] JosephMcArthur commented on #1
Splitting out latter to-dos from things needed to jump start the repo for staff & oc. #8

[2017-06-05 15:23] JosephMcArthur opened #9 "Agenda for June 14th OC call"
@nshockey / @txtbks assigning you both to hash this out :)

So far:
* Updates since last OC call
* Finalize text for application form and review forms
* Application review process and software design
* Promoting the application process
* OC sub-groups
* For future consideration: considering key themes for 2017 program

[2017-06-05 15:24] JosephMcArthur commented on #3
@nshockey suggests we should be thinking about trying to hit up actual press outlets for this & ensure better regional balance this yet.

@sparcopen/opencon-staff ideas welcome here!

[2017-06-05 15:36] JosephMcArthur commented on #3
Quick notes:
* promote referral links earlier for orgs
* can re-use codes from last year

Partner with PLOS / eLIFE networks for ECR's early. Do other such networks exist?

[2017-06-05 16:04] char-siuu-bao opened #10 "Diversity, Equity & Inclusion Report Release + Follow-up"
Outstanding Issues:

- [x] Data
  - [x] Double checking sponsorship allocation calculations
  - [x] Anonymizing & releasing data
- [x] Outstanding unresolved issues in the Google Doc
- [x] Getting someone external to review and provide feedback? (Do we want to do this?)
- [x] Laying out text & finalizing PDF
- [x] Putting online onto GitHub
- [x] Creating clear contribution instructions
- [x] Stra

[2017-06-05 17:56] char-siuu-bao opened #11 "June Community Call"
We need to decide on a theme for the June community call - we'll likely use this time to talk about applications, but Nick -- do we want a broader theme for the call more generally?

[2017-06-05 18:24] char-siuu-bao opened #12 "July Community Call: Satellites -- Learn more & support for hosts"
Figure out structure for Satellite-themed community call (invite speakers, past hosts, etc...)

[2017-06-05 18:27] char-siuu-bao opened #13 "August Community Call: Preparing for Open Access Week"
- Focus on theme "Open in Order to"; as well as invite 1-2 guest speakers
- Consider talking about implementing Open Access policies (e.g. invite Chealsye to talk about her experience?)

[2017-06-05 18:35] char-siuu-bao opened #14 "September Community Call on Open Government"
Need to plan agenda and schedule speakers.

[2017-06-05 18:57] char-siuu-bao opened #15 "OpenCon Community Support Survey + Strategy"
- [ ] Finalize Support Survey Content
- [ ] Draft email for circulating support survey
- [ ] Decide which subset of the NB database this email will go out to
- [ ] Write blog post about this new approach
- [ ] Collect and analyze responses
- [ ] Decide strategy for moving forward wrt supporting international OpenCon community members in inclusive & contextually relevant way

[2017-06-05 19:07] char-siuu-bao opened #16 "Creating core OpenCon global resources database"
Building a core database of resources for the global OpenCon community.  We're asking for community input to crowdsource and collect data on speakers, informational resources, organizations, and projects working on advancing Open Access, Open Data and Open Education in different regions and communities so that we can offer a more diverse set of resources and connections for our community.

[2017-06-05 20:02] JosephMcArthur opened #17 "Set up helpdesk"

[2017-06-05 20:04] char-siuu-bao commented on #16
Primary To-Do's:
- [ ] finalize method for collecting resources
- [ ] figure out how to make use of OAD (open access directory) so efforts aren't duplicated
- [ ] messaging (emails, blog post) for getting resource collection out.

[2017-06-05 20:06] char-siuu-bao commented on #10
Housing the best practices section, and the checklist section on a wiki: https://github.com/sparcopen/opencon-dei-report/wiki

But can also store the open data sets and PDF version in the repo: https://github.com/sparcopen/opencon-dei-report

Ideally, people can either make changes directly into the wiki if they want to contribute, or if they want to start a discussion about something they can sta

[2017-06-06 11:03] JosephMcArthur commented on #1
Yesterday I gave a quick update to staff here & asked them to brain dump thoughts. Ticking that to-do.

Also started the process of getting an email set up for this repo to ease participation.

[2017-06-06 16:28] char-siuu-bao commented on #15
Email blast text here: https://docs.google.com/document/d/1gC0pfUHMgR1YusiY6QoQHMkv8am74uYJeBiS_UIgG2w/edit

[2017-06-06 18:49] nshockey commented on #3
Creating a thread here to brainstorm media outlets and blogs to pitch to. Please edit and add suggestions! Add your name in parentheses to the right if you have connections.

- Nature News (Nick Shockey)
- AAAS Science (Katie Steen)
- LSE Impact Blog (Nick Shockey)
- IFLScience
- Retraction Watch
- PLOS ECR Blog (Nick Shockey)
- CC Blog (Nick Shockey)
- Scienceopen (Nick Shockey)
- C&RL News
- Edu

[2017-06-06 22:12] nshockey commented on #9
Split the discussion around applications into a few discrete items. @txtbks please refine as you see fit. Also added key themes for 2017 program for the OC to begin thinking about before our third call.

[2017-06-07 09:13] nshockey commented on #17
Adding our shared inbox discussion here and have quoted @txtbks' email below. @JosephMcArthur is this something that would be worth using Zendesk for?

[2017-06-07 09:16] nshockey commented on #2
Let me know if you need anything to move this forward besides, you know, time :-)

[2017-06-07 09:26] nshockey commented on #11
Adding @npscience! Do we have more projects that we want to feature, as we have in the past couple of calls? Since the application process (and promoting it) will a top priority, we could theme it around expanding the community / reaching new individuals. Thoughts?

[2017-06-07 09:30] nshockey commented on #14
Love this theme. I would be keen to get a discussion going between early career professionals in government while the application process is still open, so we can hopefully get more of those types to apply. I believe @guichactis was interested in possibly convening a discussion for early career government officials. Would this be realistic to organize by mid-July?

[2017-06-07 11:42] JosephMcArthur commented on #17
So, yes. What Zendesk would allow for here is:
* A better web-form to submit Q's from the site
* A chatbot / questions widget (see the open access button site) visible on important opencon site pages
* A smooth-ish system for discussing tickets (or emails) behind the scenes before we respond publically (so, this would be nicer than for forwarding mayham we normally engage in)
* transparency about

[2017-06-07 11:44] JosephMcArthur commented on #14
Given I think we already have a fair few speaker ideas, I think it's possible at least.

[2017-06-07 12:37] guichactis commented on #14
Would be glad to help with this. My office schedule might be a problem since I usually cannot be available for the regular time the community calls are convened, so it would be great for me if we could delay it a few hours . I think I can reach out to Eunice (who works in Mexico's National Research Council as Deputy Director for the national system of scientific open access repositories) and Rober

[2017-06-07 14:14] txtbks commented on #9
Thanks @nshockey, looks good to me. I made a few tweaks, but agree splitting it up that way makes sense.

[2017-06-07 14:32] char-siuu-bao commented on #11
Hey @nshockey! We can definitely do another project call but if we do, I would like to confirm that fairly soon as for the last two calls I had to actively recruit people to talk on the call (which takes some time to accumulate).  Half the call could be on OpenCon projects, the other half could be an opportunity to talk about the application process (maybe some tips on what we're looking for, how

[2017-06-07 14:41] KTsteen27 commented on #3
- Nature News (Nick Shockey)
- AAAS Science (Katie Steen)
- LSE Impact Blog (Nick Shockey)
- IFLScience
- Retraction Watch
- PLOS ECR Blog (Nick Shockey)
- CC Blog (Nick Shockey)
- Scienceopen (Nick Shockey)
- C&RL News
- Educause (Nick Shockey)
- In the Open Blog (Nick Shockey)
- Techdirt
- Science Insider
- Science Magazine
- Tiny Science Letter (Katie Steen)

[2017-06-07 17:09] char-siuu-bao commented on #10
@nshockey – what is the timeline for releasing this for next week? I'm away from Wednesday–Sunday mid-day so ideally if we could do before that, that would be great!

Could I also get some feedback on which aspects of the report we want to put on the wiki and make publicly editable?  I'm thinking we only want the first two sections - the checklist, and the practices for designing inclusive events

[2017-06-07 17:11] char-siuu-bao commented on #10
@txtbks – I've followed up about some data questions in an email!  Once those have been clarified I can start anonymizing the data sets to prep to put online.

[2017-06-07 17:41] char-siuu-bao opened #18 "Encourage OpenCon alum/community experts to give virtual satellite talks [ Satellite pivot ]"
Primary to-do's before formally integrating this into satellite workflow
- [ ] Create guide for speakers
- [ ] Create guide/suggestions for satellite hosts
- [ ] Reach out to a few "pilot" alum + satellite hosts to see how this will work!

[2017-06-07 20:32] txtbks commented on #10
@lorrainechu3n Update: I'm struggling to do this on airplane wifi, but I've finished 2016, and am still working through 2015. Sending email with what I have. For 2015 my main issue is that the data is unlinked, so it is difficult to verify. More as soon as I'm on the ground!

[2017-06-08 15:11] nshockey commented on #11
Have we featured someone recently who's doing work to raise awareness about OA/OER/OD on campus or build a culture of open research at an institution (e.g. @rchampieux)? Featuring something like that would feed nicely into the conversation around the application process and raising awareness more broadly.

[2017-06-08 17:15] JosephMcArthur commented on #3
from @nshockey having alumni reach out to scholarly societies (coordinate via a gdoc)

[2017-06-08 17:32] char-siuu-bao opened #19 "OpenCon Website: Informational pages on issue areas"
Given that for some OpenCon applicants/community members, the OpenCon website will actually be the first place that they encounter the concepts Open Access, Open Data and Open Education.  @nshockey and @JosephMcArthur have been working on updated homepage text, but it would also be great to get dedicated full pages for each issue area. Right now we have something [really simple for each issue area

[2017-06-08 18:37] char-siuu-bao commented on #11
@nshockey – I can reach out to Robin if we confirm this as the theme! I also at some point wanted to invite Chealsye to elaborate on her blog post and have a conversation around institutional OA policies.  Would be nice to also get a non-American perspective.

[2017-06-08 18:41] nshockey commented on #11
Totally! Roshan, Ahmed, and Osman could all speak to this, though it would also be great to get someone else we haven't featured as heavily... I wonder if any of the OpenCon LatAm organizers have local initiatives that might be a good fit cc @emckiernan @guichactis @ivonnnelujano

[2017-06-08 18:44] char-siuu-bao commented on #11
@nshockey - OK! Let me reach out to some of our more global community members/alum.  I'm going to suggest having 3-4 speakers talk about their work on campus (maybe talk about what role OpenCon has played in supporting this?) and then we can open the floor up for general questions about OpenCon and the application process for the last 20-30 mins of the call? Can you be available to answer these Qs

[2017-06-08 18:46] char-siuu-bao commented on #11
(It's on June 28, noon!)

[2017-06-08 18:47] nshockey commented on #3
What do folks thing of trying to use scholarly societies (email lists, newsletters, fb posts, etc) to reach more researchers and academics to apply to OpenCon? Do you think alumni would be willing to do this?
 Do you think it would reach people who would be likely to apply? cc @emckiernan @InquisitiveVi @rchampieux @RaoOfPhysics

[2017-06-08 18:49] nshockey commented on #11
Yep, I'll definitely be on!

[2017-06-08 18:55] char-siuu-bao commented on #11
perfect!!

[2017-06-08 18:58] char-siuu-bao commented on #11
I'll reach out to some of our satellite hosts who have been doing great work at their institutions and see if they're interested in speaking!

[2017-06-08 21:20] JosephMcArthur commented on #11
Looks like we have a game plan here, yes? I might be able to jump on the call a bit late, but, no guarantees. @lorrainechu3n / @nshockey, either of you up for MC'ing the call?

[2017-06-08 21:22] nshockey commented on #11
Happy to MC. Would be good to have @txtbks on the call as well. Nicole, are you free at noon ET on the 28th?

[2017-06-09 01:03] txtbks commented on #11
Yes! Would be great to have the time dedicated to the application process.

[2017-06-09 11:39] npscience commented on #11
Jumping in late to party, sorry -- I've not got a good handle on advocacy groups (not my particular focus) but think great idea to place these types of projects in call with application process, as achievable for many.

Would not be best MC since not got much to add, but sounds like it's all sorted between you -- is that right?

[2017-06-09 15:37] char-siuu-bao commented on #11
Thanks @npscience! Yes, I think we're OK and have a game plan - Thanks for checking in!

[2017-06-09 20:33] char-siuu-bao opened #20 "Creating activity-specific guides & kits for satellites [ Satellite pivot ]"
This has to do with a broader shift to emphasizing action-oriented satellite events and to lessen the organizational burden on hosts by having "out of the box" events (that they can adapt to their local context.
- [ ] Upload-a-thon guide
- [ ] Textbook hacking guide
- [ ] Institutional advocacy day guide
- [ ] Open Research Training – workshop guide / slide deck

***Will need help creating these r

[2017-06-09 20:41] char-siuu-bao commented on #11
We have Robin (OHSU), Ricardo (satellite host from Santiago) and Ahmed (OA Nigeria) confirmed! I've sketched out a rough agenda but Nick or Nicole if you have specific agenda items you want to add about OpenCon and the application process, please drop them in here: https://docs.google.com/document/d/1xItdBIlgUyFugqou4y5ouvNiJhvuvi1A3R6hf2I4LB0/edit#heading=h.i222c2tkoctg  – the call will be the da

[2017-06-09 20:45] char-siuu-bao opened #21 "OpenCon satellite + working in global context – consultation call / advisory committee [ Satellite Pivot ]"
Gather a few experts working in the Open space with experience working in a global context. Talk about some of the challenges and recommendations for moving forward w/ OpenCon (focus on satellite events, supporting global OpenCon community members beyond engagement with global meeting)  .... depending on how consultation call goes, could look like a longer term advisory committee on these topics.

[2017-06-11 14:51] JosephMcArthur commented on #9
@nshockey has the time been confirmed? I only have a hold on my calendar for a couple of hours.

[2017-06-11 15:31] JosephMcArthur commented on #4
Okay, I've started to more fully lay out everything to think about here & the first sketches of how it might work. Early days still.

# Questions to consider throughout

* How does this work with the unconference?
* How do we use the 3rd day most effectively? How can this be supported by the before, during & post-con programming
* How do we use workshops to support this?
* How does this work with

[2017-06-12 13:36] guichactis commented on #11
I'm not related to campus advocacy here in Argentina, but since we have a national law that mandates open access repositories' creation most universities have created policies and started to implement it. There are a few cases which were pioneers and started advocating for open access before the law's approval. I could reach out to them, but I don't think they have any relation to OpenCon. However

[2017-06-12 13:44] RaoOfPhysics commented on #3
I think a thoughtfully and clearly worded e-mail sent out to lists on a one-off basis might be acceptable, provided that we engage with any follow-up e-mails. I could write to two sci-comm lists (containing a mix of professionals and academics/researchers), if that helps.

[2017-06-12 16:22] rchampieux commented on #9
@nshockey and team, do we have a time and access details for the OC call on Wednesday?  Back from Chile and getting caught up 😸

[2017-06-13 16:22] InquisitiveVi commented on #3
I agree with @RaoOfPhysics on the follow-up emails. But I was wondering, if most scholarly societies will come forward to broadcast OpenCon promotion, if they consider that is not in their primary interest. Some scholarly societies might also have conflict of interest, since their policy allows them to believe that subscriptions and APCs are one of the means through which such societies survive in

[2017-06-13 16:28] InquisitiveVi commented on #18
Should we also curate local funding agencies for satellites from previous hosts, such that we support knowledge transfer on funding in an indirect way?

[2017-06-13 16:37] char-siuu-bao commented on #18
@InquisitiveVi - GREAT question - this is something we are also working on!! We are creating a crowdsourcing survey to collect this information to disseminate to hosts.

[2017-06-13 20:34] char-siuu-bao commented on #11
@guichactis Thanks for checking in! We have three speakers confirmed already for this call, and between that and applications, I think we'll have a full slate. But we are planning to have a "getting ready for Open Access Week"-themed call in August, and that would be a great time to hear about institutional open access policies and related laws in Argentina!!

[2017-06-14 16:30] JosephMcArthur opened #22 "OpenCon's Program Themes"
Tagging @nshockey to expand this, but this is here as a reminder & place to start putting notes.

[2017-06-19 16:38] txtbks commented on #17
Per our call today, email notifications from the application system (confirmations, login info reminders, etc.) will be sent from noreply@opencon2017.org with opencon@sparcopen.org as the reply-to in case people reply. opencon@sparcopen.org will be provided as the "contact us" email in the message text.

[2017-06-21 16:46] char-siuu-bao opened #23 "OpenCon 2017 Website updates"
- [x] Homepage text
- [x] Sliders
- [ ] Informational pages
- [x] Request referral pages
- [x] Sharing resources page
- [x] Application submission page ([/opportunities](http://www.opencon2017.org/opportunities))
- please add more as you think of them!

[2017-06-21 16:46] char-siuu-bao commented on #23
@txtbks do we need a new google form for referral requests this year? http://www.opencon2017.org/request_referal_code

[2017-06-21 17:24] txtbks commented on #23
It might be helpful to lay out our process for assigning/distributing referral links first. From a technical perspective, there is no formal need for registration, but we do need some system for tracking amongst ourselves who has what referral code. @JosephMcArthur?

[2017-06-22 17:04] txtbks commented on #3
@sparcopen/staff-opencon Hey all, circling around to the "app complete" page on the website, where we'll redirect people once their application is submitted. Need to know two things for the software:
1. The URL (most important) - last year it was /opportunities
2. Whether we want to pass through a referral link (or any other data) when it redirects

[2017-06-22 20:59] rchampieux commented on #7
Hey @JosephMcArthur! I mentioned on the last OC call that I'd be happy to write a blog post about the benefits of sponsoring a scholarship from an institutional perspective.  Would that fall under this subgroup?  If so, can you give me a deadline....so I'll do it 😀 🐱 🍪

[2017-06-23 14:53] char-siuu-bao commented on #23
@nshockey Joe is going to update the homepage to include broad information about the 3 issue areas before Tuesday. Could you OK the google doc text? https://docs.google.com/document/d/1wpXsmevfxxeK82HQ5FiZEjpm2rOYAQAGosalVO-0Xww/edit#heading=h.xztqaywy0gtq (I think we're going to go with the 2nd tagline)

[2017-06-23 15:03] nshockey commented on #23
Content is good to post. I'm still trying to think of a more engaging / active tagline, but seeing it on the homepage might help with this.

[2017-06-23 15:05] nshockey commented on #23
Added application submission page at /opportunities to the list of pages above to be updated by COB Monday.

[2017-06-23 15:07] nshockey commented on #3
I think /opportunities is fine, unless others have concerns. Will defer to @JosephMcArthur on referral link.

[2017-06-23 15:08] nshockey commented on #17
opencon@sparcopen.org has been created. I've also aliased opencon2017.org to the SPARC domain, so we can setup noreply@opencon2017.org if we'd like.

[2017-06-23 15:43] txtbks commented on #17
Great! I don't think there's a need to set up a noreply alias. It's currently set up to send notifications only, so the only thing it will receive is auto responders. We have opencon@sparcopen.org in the reply-to, so any genuine replies will still come to us. Unless we want to operate from opencon2017.org emails, I'd say just leave it as is.

[2017-06-23 16:06] nshockey commented on #3
One other important concern for the full database application email: do we know if our OpenCon emails get funneled into the Google Promotions or Updates tab? I think it would be worth checking into.

I just checked the Diego Gomez crowdfunder email, which looks like it appeared in the Updates tab. There's a tool for testing this [here](https://litmus.com/gmail-tabs). And some advice for getting in

[2017-06-23 16:35] txtbks commented on #3
This doesn't directly answer the question, but FYI the reapplication rate in among 2015 applicants in 2016 was slightly higher than average for @gmail.com addresses, though not statistically significant.

[2017-06-23 17:22] JosephMcArthur commented on #7
@rchampieux best to work with @lorrainechu3n / @nshockey on this I think. Let say the end of July as a deadline :)

[2017-06-23 17:22] JosephMcArthur commented on #7
@rchampieux best to work with @lorrainechu3n / @nshockey on this I think. Let say the end of July as a deadline... since you asked :)

[2017-06-23 17:51] clghmlr opened #24 "Test issue post by email!"
From: joe@righttoresearch.org<br>
Date: June 23, 2017 at 06:47PM<br><br>

[2017-06-23 17:51] clghmlr opened #25 "this is a test issue post by email"
From: joe@righttoresearch.org<br>
Date: June 23, 2017 at 06:49PM<br><br>
this is some issue body. you can ignore me

[2017-06-23 17:52] #24 closed, assigned to nobody

[2017-06-23 17:52] #25 closed, assigned to nobody

[2017-06-23 19:25] char-siuu-bao commented on #3
In the past test emails have sometimes gone into the promotions tab and sometimes in the main inbox. Judging from the advice webpage you linked @nshockey, this might have to do with whether we are asking them to share on social media, and the number of links we have? We have MANY links in each email (e.g. links to community calls, satellite events, discussion list, etc...). Would you suggest remov

[2017-06-23 19:28] nshockey commented on #3
@JosephMcArthur is testing emails sent from NB to determine how to at least end up in the updates tab, if not the primary inbox. I think we need to keep the social media links in, if at all possible, since they drive so much of the activity there.

[2017-06-23 19:51] clghmlr opened #26 "(#239314020) SPARC Forwarding Confirmation - Receive Mail from joe@sparcopen.org"
From: forwarding-noreply@google.com<br>
Date: June 23, 2017 at 06:55PM<br><br>
joe@sparcopen.org has requested to automatically forward mail to your email address cloo+sparcopen/opencon@cottagelabs.com. Confirmation code: 239314020 To allow joe@sparcopen.org to automatically forward mail to your address, please click the link below to confirm the request: http://ift.tt/2t018Kg If you click the lin

[2017-06-23 19:57] #26 closed, assigned to nobody

[2017-06-23 20:06] JosephMcArthur commented on #17
Okay, Zendesk is set up on the shared inbox for us all. @lorrainechu3n @nshockey @txtbks have access for now, but I can add others if needed. I've tried to do all the actual admin set up the same as OAB, which will skip a few issues we had.

When you log on for the first time, you'll be taken on various tutorials. When you get set up, let me know please just so I know. On our next team call, I'm h

[2017-06-23 21:11] char-siuu-bao commented on #3
I'm prepping the lists, etc.. on Nationbuilder right now.  Will the applications email open also come from the noreply address? @nshockey @JosephMcArthur @txtbks  (just checking because if so we'll need to set that up as an email account on NB as well!)

[2017-06-24 00:19] txtbks commented on #3
I don't have an opinion. @jangondol do you think it's possible for us to (easily) set up Nationbuilder to send email from noreply@opencon2017.org in its current configuration? If not, I suggest we send from opencon@sparcopen.org or another alias at opencon2017.org.

[2017-06-24 01:26] jangondol commented on #3
@txtbks If you want to use noreply@opencon2017.org, it's possible to verify opencon2017.org domain at Amazon Web Services ([Amazon SES](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-domains.html)) and then you can send messages from whatever@opencon2017.org. Happy to set this up for you if this is what you want. (The system for handling OpenCon applications has been set up to send n

[2017-06-24 01:52] txtbks commented on #3
Ok @lorrainechu3n we can do it if we want, but I think it's easiest if we just send from opencon@sparcopen.org. Hopefully zendesk can handle the auto responders... Thanks @jangondol for the fast reply!

[2017-06-24 03:03] txtbks commented on #3
Ack, going back up to the question about the redirect at the end of the application form. The page we used last year is actually /thank_you, NOT /opportunities (I was looking at the final code from last year, which we changed to redirect to /opportunities after the app period was over!)

So, **the page we need to get set up is /thank_you** (or another URL, but that seems fine) @JosephMcArthur @nsh

[2017-06-24 06:14] jangondol commented on #3
@txtbks When someone submits an application, we send them to /thank_you (and we even include their referral code in a URL parameter) - when the application period is over and someone visits the application submission page, we send them to /opportunities - this means that we redirect people to two different pages at two different occasions. Both URLs are customizable, it's possible to change them i

[2017-06-24 12:14] JosephMcArthur commented on #3
Following on from Nick's [comment](https://github.com/sparcopen/opencon/issues/3#issuecomment-310753259).

In my testing, it appears removing images & excess formatting really helps in moving emails out of promotions (this is also backed up from my reading about this over the years). I'd suggest we switch to using a very plain template for these emails.

[2017-06-24 22:14] JosephMcArthur commented on #23
I've updated the homepage on preview with our new intro to open text. I have two version, the one that can currently be seen that's a **bit** nicer to look at - and the very basic changes we've previously discussed.

If people, especially @lorrainechu3n, look [here](https://righttoresearch.nationbuilder.com/admin/sites/1/pages/26/preview?browser_id=default&logged_in=0&theme_id=55814e11221393296800

[2017-06-25 00:36] char-siuu-bao commented on #23
Hey @JosephMcArthur! I really like the way it's formatted! I wonder if it should almost come before the first black box? (though I would understand arguments against that)

One separate, small nit picky thing... for the new mini slider showcasing our sponsors, would it be possible to increase the padding/white space between the slider and the "Organized by R2RC/SPARC" section underneath? It looks

[2017-06-25 12:56] JosephMcArthur commented on #23
I'm not totally averse to this idea. If we flipped it, we'd need to have very clear button's to get to the next panel fast & get folks applying (so, under the "We’re working to make online research & educational materials free to read, share, and modify for all." we'd need a button saying something like "get involved" or "learn more about OpenCon". I've mocked up what I think that would have to lo

[2017-06-26 10:38] nshockey commented on #3
As @JosephMcArthur suggests, let's plan to send the announcement emails with a plain email template.

Another idea to toss in here. We could send everyone a link to a calendar event that they could add reminding them to apply on July 31st.

[2017-06-26 14:49] InquisitiveVi commented on #3
I agree with @JosephMcArthur's idea. Sometimes emails from promotion tab can be trained to appear in inbox. We can add this "do it yourself" as a postscript of the email.

[2017-06-26 14:51] char-siuu-bao commented on #3
My concern with using a plain email template is that it will be less obvious / maybe feel less "legitimate" of an OpenCon email since all our past major email blasts are heavily formatted. Also, do we still want buttons if we won't have any other styling otherwise? @JosephMcArthur @nshockey

[2017-06-26 14:56] InquisitiveVi commented on #3
Correct me if I am wrong, I thought Joe's email is perceived anyway as "legitimate" message from OpenCon. I have nothing against formatted trademark design, if we recommend through social media or alumni group in Facebook, to keep an eye on the promotion tab.

[2017-06-26 14:57] char-siuu-bao commented on #3
@InquisitiveVi yes! I agree, but it will also be coming from a new email address this time "opencon@sparcopen.org"  but it should be okay!

[2017-06-26 15:04] char-siuu-bao commented on #23
Could I get a second pair of eyes on the updated sharing resources page @JosephMcArthur?? Thank you! http://www.opencon2017.org/sharing_resources

[2017-06-26 15:08] InquisitiveVi commented on #3
@lorrainechu3n Thanks for the clarification. This is something to consider.

[2017-06-26 15:38] guichactis commented on #23
@lorrainechu3n here a few corrections to the Spanish version:

Queremos compartir esta convocatoria que puede ser de interés para estudiantes. Desde el 1 de agosto, es posible hacer solicitudes para asistir OpenCon 2017 el 11 a 13 de noviembre en Berlina/ **del 11 al 13 de noviembre en Berlin**. Se recomienda a los interesados hacer su solicitud/ **realizar su aplicación** con tiempo. Los interesa

[2017-06-26 15:45] char-siuu-bao commented on #23
@guichactis Thank you so much for editing the translation! That was my attempt at updating the translation which is why there are grammatical errors. Thank you again!

[2017-06-26 15:50] guichactis commented on #23
I can try to translate the other posts as soon as this afternoon (I leave office at 4 so it can be ready by 6pm) - if you have the posts somewhere else and can make a google doc with two columns (one with the english version and the other for me to translate each paragraph) would be awesome (and then once I've finished you can just work with the document. I can translate and (if she's available) @

[2017-06-26 15:55] char-siuu-bao commented on #23
@guichactis @ivonnnelujano That would be so helpful! Even if we don't get it up today, it would be useful later on in the application period.  I've created a google doc here: https://docs.google.com/document/d/1LvcfUi7C-bRQWlm9WT-T_EKFE7IwlsgSeO9tfIlA_oU/edit?usp=sharing Thanks again!

[2017-06-26 16:21] guichactis commented on #23
@lorrainechu3n done. There is a specific comment for Ivonne to check. If you want me to translate the other posts and tweets let me know

[2017-06-27 10:40] JosephMcArthur commented on #23
- [x] faq
- [ ] twitter pic on /thank_you

[2017-06-27 14:00] JosephMcArthur commented on #17
Good news, Zendesk filtered the autoresponses.

[2017-06-28 14:47] char-siuu-bao commented on #23
@guichactis @ivonnnelujano thank you so much with your help on the translations!! I'm so sorry about the inconvenience, but we've actually made some updates to the sharing text:

Applications to attend OpenCon 2017 on November 11-13 in Berlin, Germany are now open! Most of those who are invited to attend will receive full or partial travel funding, if needed.

OpenCon brings together early career

[2017-06-28 15:25] guichactis commented on #23
@lorrainechu3n ,

This will be the updated translation: (@ivonnelujano I took the suggestion
of replaicing usted for a more formal pronoun - I'll use vos instead of
tu's conjugation for spreading it with my Argentinian contacts)

¡Se encuentra abierto el proceso de postulaciones para asistir a OpenCon
2017 del 11 al 13 de noviembre en Berlín, Alemania! La mayoría de quienes
son invitados a asistir

[2017-06-28 19:06] char-siuu-bao commented on #23
Thanks so much @guichactis! You have been so helpful!

[2017-06-29 18:05] char-siuu-bao commented on #17
@JosephMcArthur I notice there's a lot of tickets piling up.  Is there an equivalent of "archiving" ones that don't warrant a response (as we would in email?). Is it just closing the ticket? Sorry, still new to navigating Zendesk!

[2017-06-29 18:20] char-siuu-bao commented on #12
@nshockey Initially was thinking of focusing on satellites for July's call, but it looks like the Librarian call will also be talking about satellites this month. I wonder if it would instead be good to have a community discussion about diversity, equity and inclusion in the Open movements since this will be a couple weeks after the report release.  We could think about inviting speakers as well.

[2017-06-29 21:01] JosephMcArthur commented on #17
Yup, you can just close them without responding.

On Thu, 29 Jun 2017 at 19:05 Lorraine C. <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-06-30 16:36] JosephMcArthur commented on #12
I think doing either of these things would be *great! *I don't see any
particular issue with us doing satellites too (since we'll have a different
audience). But, of course, the DEI report is also very important!

My understanding was that we thought our usual call wasn't a great fit for
a DEI chat ( due to timezone / tech / audience), so we thought a separate
call was the way to go - but if you'v

[2017-06-30 17:14] char-siuu-bao commented on #12
@JosephMcArthur  I think we can think about this as possibly two different types of conversations to be having:

(1) talking to people who normally engage in our community calls (e.g. a for the most part western audience) about integrating DEI values in their work, events and organizing.  i think this is still an important conversation to have.

(2) A separate conversation to inform our own (OpenC

[2017-07-03 00:42] txtbks opened #27 "Application Review Process"
Starting a thread to coordinate the application review process.

- [x] Launch reviewer portal and initial accounts
- [x] Update reviewer manuals
- [x] Update website for reviewer signup
- [x] Add new weekly office hours events
- [x] Get list of potential reviewers & generate login info
- [x] Send out reviewer invitation and accounts
- [x] Schedule OC calls for August to discuss decisions
- [x] Loo

[2017-07-03 07:28] JosephMcArthur commented on #12
That distinction makes good sense to me, as does the plan for each!

On Fri, 30 Jun 2017 at 18:14 Lorraine C. <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-03 18:41] nshockey commented on #22
To get a sense of themes we've highlighted during past OpenCons, I've listed the panels for each year below along with a link to the full program:

2016 panels ([full program](http://www.opencon2017.org/opencon_2016_archive)): Culture change, research evaluation, equity and open, successful participant projects
2015 panels ([full program](http://www.opencon2017.org/opencon_2015_archive)): Epic ope

[2017-07-03 19:12] chartgerink commented on #22
Don't know if it's inappropriate to jump in here without invitation, but maybe "Keeping open open"?

Polarization being such a topic nowadays, and discussion in the OA/OD/OS community sometimes reverting into just obscenity or creating boxes in front of us while breaking down those behind of us, I think it would be worthwhile theme to self-reflect. It doesn't preclude that we can still celebrate t

[2017-07-03 19:31] nshockey commented on #22
Thanks, @chartgerink! Do you have an idea of how the theme of "keeping open open" might translate into programming?

[2017-07-04 11:14] JosephMcArthur commented on #22
Tagging @sparcopen/oc-opencon to make sure all the OC see this message!

[2017-07-04 11:32] npscience commented on #22
I think @chartgerink has a good point, which could be linked into a theme emerging in my own work: how we put thoughts into actions as a whole community. Different opinions here re how open to be (mix of radical openness vs fear of 'bad actors'), but I'm sensing a general wish to share for efficiency purposes and to produce the best work we can (multiple contributors >> lone actors). A panel on le

[2017-07-04 11:56] InquisitiveVi commented on #22
Nice thoughts @chartgerink and @npscience
I have some suggestions (incoherent at the moment). Maybe they don't fit into the big picture/ major theme but we can think of prioritising them on workshops or unconference sessions:
- Citizen science projects
- Open practices in patient support groups
- Preregistration: a framework for research rigour and how to be flexible with unexpected findings
- Org

[2017-07-04 12:08] InquisitiveVi commented on #22
@chartgerink Do you think, some discussion on legal issues or copyright barriers to unlock open will be useful to the community? I am thinking loud about this as an additional exercise for advocacy day. Will it be helpful to create learning values from the case against Diego Gomez and maybe Elsevier's $15 Million penalty on Sci-Hub. I can already imagine this might end up creating binaries on lega

[2017-07-04 14:46] chartgerink commented on #22
Good question @nshockey. Off the top of my head I'd suggest the following:

1. The open community closing up? Preventing groupthink
	* In essence, polarization is just groupthink that closes the discussion.
2. Achieving unity across Data, Access, Science
	* I frequently see Open Data trumping Open Access arguments (or any other combination) which totally foregoes that all of the changes that are s

[2017-07-06 15:38] InquisitiveVi commented on #22
@chartgerink I will be glad to discuss those ideas on metrics to promote good science. I will send you an email soon.
 I partly agree with your comment on limiting diversity of naysayers (in response to NP's comment). However, including them in the open dialogue will help us crack what other irrational fears are holding them back. Personally I would prefer devil's advocate than naysayers, in this

[2017-07-06 15:46] InquisitiveVi commented on #5
Will it be possible to create some visual templates for story circle. This will orient people more easily to share their stories. At the end of the story circle, members can update a new picture of their circle or novel learning from this exercise. This idea is an inspiration from OpenCon 2016 Alumni : Bett Pick and Kristin Briney, who made sketch notes in the story circle I was.

[2017-07-06 17:04] rchampieux commented on #4
@JosephMcArthur I'd love to help with this.

[2017-07-06 17:35] rchampieux commented on #22
Great ideas  @chartgerink @npscience and @InquisitiveVi.  I'm particularly keen on the themes of putting our thoughts into action and EDI.  The latter can be approached in two important directions, I think:  the importance of prioritizing and building for EDI within the context of the open community (to ensure we're not just working on behalf of dominant needs/goals), but also how openness can be

[2017-07-06 17:50] npscience commented on #3
I've started on some outreach, starting with the Society for Experimental Biology and the Biochemical Society, both in the UK. I don't expect much from the latter, but the SEB normally send out announcements upon request. I did this from my email and added a personal message before sending them the email announcement text. I trust this is the approach we're going for with spreading the word a litt

[2017-07-06 18:07] npscience commented on #22
@rchampieux  This sounds like a great idea to me, particularly since some of those partnerships may be forged at OpenCon itself, so giving people the means and courage to do so could be very effective. (I'm not sure what EDI means?)

@InquisitiveVi these sound ripe for exploration, to me at least. I agree with @rchampieux's suggestion of a more broad theme that covers open workflows.

@chartgerink

[2017-07-06 20:48] rchampieux commented on #22
@npscience EDI is Equity, Diversity, and Inclusion (sorry, I should have typed that out in the first place).  Also - thanks for including some markdown goodness in your comment ">" is new to me!  🏆

[2017-07-07 01:45] ivonnnelujano commented on #22
I think @npscience 's suggestions are vey comprehensive of the current concerns in the [diverse] open landscape. I remember last OC I heard many comments on the relevance of being aware of our differences in 'openness' understanding and the richnessess of that. But, as some of you commented, this diversity sometimes is a tough thing when we try to take actions as a community, not just for certain

[2017-07-07 01:47] ivonnnelujano commented on #16
Be very happy to help with this @lorrainechu3n
Are there already some files to work with?

[2017-07-07 04:49] rchampieux commented on #22
As both @ivonnnelujano and @InquisitiveVi point out, I agree that copyright and licensing are important issues, and we can find a way to explore this topic in a compelling way (and avoid the dry/boring approach @chartgerink critiqued).  Exploring this topic could also offer a really interesting opportunity to explore the intersection of openness and the creative arts (as @ivonnnelujano suggested).

[2017-07-07 06:44] chartgerink commented on #22
I agree that copyright is important, and considering the discussion maybe we should do something to make it a bit more fun while communicating the info. I tried to engage researchers about copyright with a [microsite](https://libscie.github.io/libcopy). My primary concern is that we again fall back into `CC WTF` discussions :evergreen_tree:

If we want to talk behavioral psychology, preregistratio

[2017-07-07 07:36] JosephMcArthur commented on #3
Thank you so much Naomi, that's perfect!

On Thu, 6 Jul 2017 at 18:50 Naomi Penfold <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-07 08:04] JosephMcArthur commented on #5
What do you mean by "visual template", perhaps sharing that sketch with me
would help?

On Thu, 6 Jul 2017 at 16:46 Vinodh Ilangovan <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: jos

[2017-07-07 18:29] npscience commented on #22
+1 to COS sugggestion

This discussion of EDI (thanks @rchampieux :)) and copyright makes me think about these questions: what are we asking of people when we ask them to be open? What are the costs to the individual? How do these costs differ depending on your own circumstance? There's a big difference between asking the Chris of today to share something and asking the younger Diego or Chris to -

[2017-07-07 19:00] pennybphd commented on #22
+1 to that Naomi, the risks/barriers of open were something I was keen to address last year (and talked about in my application) but only ended up speaking about briefly. Strategies for overcoming barriers (and recognising privilege), setting up mentoring networks etc would be really positive.

I'm also very pro building links between arts (including practice-based arts research - look at the [Def

[2017-07-10 19:51] JosephMcArthur opened #28 "[dei-report] on mobile homepage starting text loses margins"
@JosephMcArthur commented on [Mon Jul 10 2017](https://github.com/sparcopen/opencon-dei-report/issues/9)

<img width="657" alt="screenshot 2017-07-10 20 41 40" src="https://user-images.githubusercontent.com/4953703/28036463-3d1cb664-65b0-11e7-9126-423893af742d.png">

[2017-07-10 19:52] JosephMcArthur opened #29 "[dei-report] report page hero shots (the top images) don't scale well on mobile"
@JosephMcArthur commented on [Mon Jul 10 2017](https://github.com/sparcopen/opencon-dei-report/issues/8)

[2017-07-10 19:52] JosephMcArthur opened #30 "[dei-report] Site title & hamburger clash on small screens"
@JosephMcArthur commented on [Mon Jul 10 2017](https://github.com/sparcopen/opencon-dei-report/issues/7)

[2017-07-10 19:52] JosephMcArthur opened #31 "[dei-report] additional consideration page scales badly on mobile"
@JosephMcArthur commented on [Mon Jul 10 2017](https://github.com/sparcopen/opencon-dei-report/issues/6)

[2017-07-10 19:52] JosephMcArthur opened #32 "[dei-report] template site files"
@JosephMcArthur commented on [Mon Jul 10 2017](https://github.com/sparcopen/opencon-dei-report/issues/5)

Current the header / footer is in the code on every page. It would make it easier to edit / less intimidating to contribute if these where just in one file.

[2017-07-10 19:52] JosephMcArthur opened #33 "[dei-report] move all site files to /docs"
@JosephMcArthur commented on [Mon Jul 10 2017](https://github.com/sparcopen/opencon-dei-report/issues/4)

This will help keep the landing page for our github page clean and simple, and draw a clear line between project docs & site docs

[2017-07-10 19:52] JosephMcArthur opened #34 "[dei-report] Change file format from .html to .md on report files"
@JosephMcArthur commented on [Mon Jul 10 2017](https://github.com/sparcopen/opencon-dei-report/issues/3)

This will help people contribute in ways that look nice. Not aiming to change actual content or structure here.

[2017-07-11 13:22] #9 closed, assigned to txtbks, nshockey

[2017-07-11 13:23] nshockey commented on #11
Closing this issue as the call as taken place.

[2017-07-11 13:23] #11 closed, assigned to JosephMcArthur, npscience, lorrainechu3n, nshockey

[2017-07-12 10:27] Bubblbu commented on #22
+1 for a "fresh" copyright discussion

---

+1 science/arts. I would also be interested in addressing/including philosophy (of science) which might not sound like the most actionable topic, but I do believe that critical (self)reflection and deliberation could benefit from e.g. philosophy of technology. But I am aware that this might be a better fit for an unconference session :D

---

In the ligh

[2017-07-12 17:11] guichactis commented on #22
+1 to @ivonnnelujano & @InquisitiveVi science/arts & citizen science projects ideas - I think bringing in people from these areas or proposing a discussion around them would be a catalyzer for introducing @chartgerink "keeping open open" by confronting more traditional approaches to science with that of those who access or intervene in the research processes from the "outside" of the scientific co

[2017-07-12 20:08] rchampieux commented on #22
💯  on these EDI threads.  It could be interesting to think about how we could explore these questions and issues through local case studies.

@Bubblbu your comments also make me think of the theme of mentoring more generally and its relationship to the efficacy and evolution of our community members' roles as open research advocates and practitioners.

[2017-07-12 20:11] rchampieux commented on #13
@chealsye and @nshockey would it be possible to include a speaker from the Early Career Librarian OA week project?  Not me (I've been talking too much), but one of other team members?

[2017-07-13 06:32] chealsye commented on #13
@rchampieux If this is added to the call agenda, I'd most recommend Camille or Ali as the rest of us tend to be talking lots in other capacities on either the community call or Librarian call.

[2017-07-17 20:25] Bubblbu commented on #22
Just saw this tweet by the OA Button: [https://twitter.com/OA_Button/status/887037727643979776](https://twitter.com/OA_Button/status/887037727643979776)

![image](https://user-images.githubusercontent.com/6946077/28288027-1441c732-6b3e-11e7-8cad-7c54e3b6f6d7.png)

Discoverability and findability might also be interesting topics. How to deal with information with an increasing availability (and acc

[2017-07-19 20:19] npscience commented on #22
Talk at ASAPbio meeting today (around preprints ecosystem) included need to develop educational resources to inform researchers on licensing, so they can make better decisions when it comes to signing away copyright, etc. Stimulating project on this at opencon could be really useful, if can then collaborate with ASAPbio on this. cc @chartgerink @Bubblbu @rchampieux @InquisitiveVi @ivonnnelujano

[2017-07-20 06:52] chartgerink commented on #22
Yes! I tried getting started on this [here](https://libscie.github.io/libcopy). Many researchers don't want legalese nor do they actually want to think about it. I've been thinking about how to get them to engage, because mostly I get refusals of discussing the topic or waiving of the problem.

The [APA takedown requests](http://retractionwatch.com/2017/06/16/following-outcry-american-psychologica

[2017-07-21 18:02] JosephMcArthur opened #35 "Agenda for July OC Call"

[2017-07-21 18:07] JosephMcArthur commented on #35
* mention folks who've left the committee.

[2017-07-24 14:08] char-siuu-bao commented on #16
@ivonnnelujano Sorry for the late reply on this! I'm hoping to start a conversation about this again soon after the application period closes. We had started developing a survey to collect resources here: https://docs.google.com/a/sparcopen.org/forms/d/e/1FAIpQLSeCe6D7P5cjVn3fw_a63lQoOphVZfyK94dm94J7YFBftXNkIQ/viewform

But now I'm thinking it may be more useful to get volunteers to curate items a

[2017-07-24 14:16] #10 closed, assigned to txtbks, lorrainechu3n, nshockey

[2017-07-26 11:42] npscience commented on #4
Just found this and concur with Robin - count me in if help wanted @JosephMcArthur; I'll add some thoughts to this thread when I have another mo.

[2017-07-26 11:42] npscience opened #36 "Rating site 404"
@txtbks  - I just tried to access the rating site on Chrome and Safari, both returning 404.

[2017-07-26 12:13] txtbks commented on #36
@npscience Try re-clicking your login link (the long one I sent you by email) - the most common cause of 404 is getting inadvertently logged out. If that doesn't fix it, let me know!

[2017-07-26 12:14] txtbks commented on #36
Also THANK YOU for reporting issues with the site. So far our servers have been rock solid (thanks @jangondol!) but if there is an issue it's definitely better to know.

[2017-07-26 12:17] npscience commented on #36
Oh thank you Nicole @txtbks - the individual login link worked so that must have been cause! Cheers :)

[2017-07-26 12:20] txtbks commented on #36
Great! Will leave this issue up since a couple others encountered it too.

[2017-07-27 03:41] char-siuu-bao commented on #14
Wanted to check in on whether September would still be used to chat about Open government! We were hoping to talk about building diverse/equitable communities when doing Open work on the community call today, but we ended up having such a fruitful discussion about satellites that we didn't get to it! Lots of folks were interested in having that conversation, so I'm hoping to reschedule it for a fu

[2017-07-27 15:57] char-siuu-bao commented on #22
Apologies for being so late on this thread! I think the above ideas are great, but as @rchampieux and some others have suggested, it would be great to have EDI-related theme—perhaps not explicitly "Equity and Open" like last year, but a more specific topic.  I'd like to see specific discussions on advancing Open across geographical contexts (and the specific challenges that come with different con

[2017-07-27 16:05] #12 closed, assigned to lorrainechu3n

[2017-07-31 14:38] JosephMcArthur opened #37 "Figure out how best to livestream / record this year"
This year, we're going to have even fewer presentations than last year, but they'll be more targeted.

Note, in 2 days we'll likely only have around 4.5 hours of meaningful content (although there will be more time spend on intros / housekeeping etc). We'd be paying for about 20 hours of time across both days (including set up, set down)

This calls into question if having a crew livestream everyt

[2017-07-31 16:27] GrahamSteel commented on #37
My $0.02. Livestreaming and filming events are equally important. I would maximize the use of their time and efforts as per options two or three. At ReConEvent  (in Edinburgh which I co-organize) we had the film crew interview about a dozen of the attendees/speakers last year which worked out extremely well.

Either way, as per previous OpenCon events, meaningful content should be streamed/recorde

[2017-08-03 20:56] JosephMcArthur commented on #14
@guichactis would you be able to make the [September call](http://www.opencon2017.org/september_2017_community_call) and be willing to help facilitate? I know you said your schedule can be tricky,  but I'm wondering if that was just in relation to a July call.

[2017-08-07 09:04] JosephMcArthur commented on #17
This is set up and battle tested with the application period. Seems to be working okay. Main issue is all of us getting emails. BUT, without spending a lot more money that's hard to fix except through email filters.

Closing the issue.

[2017-08-07 09:04] #17 closed, assigned to JosephMcArthur

[2017-08-07 09:17] JosephMcArthur commented on #1
The basic systems are all working here, so I'm going to close this issue and breakout further work into smaller issues.

[2017-08-07 09:17] #1 closed, assigned to JosephMcArthur

[2017-08-07 09:17] JosephMcArthur opened #38 "Making Internal OpenCon files public"
Moved over from #1

# Files

- [ ] Make our drive public
- [ ] Create a document to linkout to big bits of the drive

[2017-08-07 09:17] JosephMcArthur commented on #3
The application period is now closed, so closing this!

[2017-08-07 09:17] #3 closed, assigned to JosephMcArthur

[2017-08-07 09:19] JosephMcArthur commented on #23
The only thing that looks like is left on this issue is covered by #19. So, I'm closing this. Go team!

[2017-08-07 09:19] #23 closed, assigned to txtbks, JosephMcArthur, lorrainechu3n, nshockey

[2017-08-07 09:42] JosephMcArthur opened #39 "Plan OpenCon Live"

[2017-08-07 14:53] guichactis commented on #14
@JosephMcArthur I would definitely like to help facilitate this call! My office hours are quite tricky indeed (I'm here from 8am to 6/7pm GMT -3 so I need to know what the time of the call would be in order to see if I can arrange my schedule and leave early that day (sometimes there are reunion's rooms available, especially on Fridays, but otherwise I cannot stay here because I won't be able to s

[2017-08-07 16:20] char-siuu-bao commented on #13
Hi just looping in on this thread since the call date is approaching. Confirming that there will be someone talking about the Action Kit?

@chealsye — would it be possible for you to walk through advocating for an institutional OA policy? I think your blog post instructions were super clear and useful, but it would be great if you could share on the call, since this would be a fairly action-orient

[2017-08-07 16:36] #35 closed, assigned to nshockey

[2017-08-07 16:37] char-siuu-bao commented on #13
started compiling this database with group at FSCI "Global is Local" session - https://docs.google.com/spreadsheets/d/1lD4pvP_feYGWX00ri2DDMbJXx1r-7mGbeK0asoKJ8wU/edit#gid=0

[2017-08-07 21:40] char-siuu-bao commented on #14
@guichactis - the call is currently scheduled for September 27 at our usual call time http://www.opencon2017.org/september_2017_community_call

12pm ET — so 1PM in Argentina, I believe!

Definitely happy to chat about what it's like to facilitate community calls. I can put together a facilitation guide (I think @JosephMcArthur has been meaning for us to do this for a while anyway!) and send it to

[2017-08-07 21:40] char-siuu-bao commented on #14
@JosephMcArthur and @nshockey do you have ideas for who to reach out to as speakers?

[2017-08-07 22:03] guichactis commented on #14
If I'm allowed to suggest, last year I met at the conference two very
interesting alumni working as government officials on open related issues:
- Eunice Mercado from Mexico's National Research Council, who works
implementing the national open access green route's policy.
- Robertus Theodore from the Indonesian's Executive Office of the
President, who works at the Open Data policy.
I'll check tomo

[2017-08-08 12:49] JosephMcArthur opened #40 "Draft applications decision emails"

[2017-08-08 12:49] JosephMcArthur commented on #40
Woops, this is covered in #27

[2017-08-08 12:49] #40 closed, assigned to lorrainechu3n

[2017-08-08 13:12] JosephMcArthur opened #41 "Upload Videos from OpenCon & with a Summary page"
- [x] me to upload and manage delivery
- [x] @lorrainechu3n to manage getting a summary page

[2017-08-08 13:15] JosephMcArthur opened #42 "Send Survey to Attendees"
While we also say we want to prepare this in advance, often it seems we're not sure what the right question is until after the meeting. So, what might be best is to prep things like email text, lists, and a basic template before hand then craft the final questions after.

[2017-08-08 13:15] JosephMcArthur opened #43 "Send thank you notes to speakers"

[2017-08-08 13:16] JosephMcArthur opened #44 "Send post-event sponsor emails"

[2017-08-08 13:17] JosephMcArthur opened #45 "Evaluation call with 2018 OC"
- [ ] Agenda
- [x] Time

[2017-08-08 14:55] JosephMcArthur opened #46 "Full event walk-through will all staff"

[2017-08-08 14:57] JosephMcArthur opened #47 "Final Site Visit / Walkthrough"

[2017-08-08 14:57] JosephMcArthur opened #48 "Venue Set up (Day before)"

[2017-08-08 14:58] JosephMcArthur opened #49 "Day One Checklist"
This issue is for noting small things that we need to remember for the day (e.g make sure to bring X, or do Y).

[2017-08-08 14:58] JosephMcArthur opened #50 "Day Two Checklist"
This issue is for noting small things that we need to remember for the day (e.g make sure to bring X, or do Y).

[2017-08-08 14:58] JosephMcArthur opened #51 "Day Three Checklist"
This issue is for noting small things that we need to remember for the day (e.g make sure to bring X, or do Y).

- [x] Thank reviewers
- [x] nightly email

[2017-08-08 15:00] JosephMcArthur opened #52 "Plan pre-event drinks"
- [ ] Venue
- [ ] Paid / unpaid bar
- [ ] Staff supervision
- [ ] Registration desk

[2017-08-08 15:04] JosephMcArthur opened #53 "Complete general housekeeping slides"
- [ ] Set up rolling slides with sponsors, wifi, sched, github for breaks
- [ ] make Q/A slides
- [ ] test on speaker PC
- [ ] start of day slides (saying when we'll start so we can do stream early)

Put them here: https://www.dropbox.com/sh/bhf3twkz8oocabe/AAA5J1z4E74xZTWQugYWur9Va?dl=0

Find last years here: https://www.dropbox.com/sh/iyg84scqzut3k8z/AAAUi3vfLDlpLOpCF33R3jVja?dl=0

[2017-08-08 15:05] JosephMcArthur opened #54 "Decide the Speaker PC"

[2017-08-08 15:07] JosephMcArthur opened #55 "Set up & test the speaker PCs (and backups)"
- [ ] test with webcast folks
- [ ] test with basic slides
- [ ] make sure password is clear / set up
- [ ] get on dropbox (already set up)
- [ ] totally clean the account it's using
- [ ] make sure it has all upgrades needed & new software
- [ ] make sure it has a charger
- [ ] make sure we have any dongles required

[2017-08-08 15:11] JosephMcArthur opened #56 "Plan what pre-con activities (usually, webcasts) to do"

[2017-08-08 15:13] JosephMcArthur opened #57 "2017 Thank you List"
To be read at our closing.

- [ ] staff
- [ ] oc
- [ ] venue staff
- [ ] peter (directions)
- [ ] application reviewers

[2017-08-08 15:15] JosephMcArthur opened #58 "Secure back-up Wifi"
Previously we've asked local's to see if they'd tether if need be, or just brought a lot of sim-cards.

[2017-08-08 15:16] JosephMcArthur opened #59 "Write R2RC Award Talk"

[2017-08-08 15:20] JosephMcArthur opened #60 "Figure out Speaker Timekeeping & Q/A logistics"
- [ ] Assign someone to help switch slides between talks
- [ ] Design / Print Speaker logistics
- [ ] Assign someone to help keep us to time
- [x] Figure-out our mic runners
- [ ] Decide how to handle Q&A / communication with moderators
- [x] speaker plaques

[2017-08-08 15:23] JosephMcArthur opened #61 "Confirm a photographer"

[2017-08-08 15:24] JosephMcArthur commented on #61
... @slobo665 :)

[2017-08-08 15:26] JosephMcArthur opened #62 "Print Nametags"
Designed in #63

[2017-08-08 15:26] JosephMcArthur opened #63 "Design Nametags"

[2017-08-08 15:31] JosephMcArthur opened #64 "Order any resources needed"
First, we'll need to sort the logistics for gettings stuff over. So, either
- [x] figure out who can bring things on planes
- [x] see if the venue can store / accept things sent

Then, here is a running list of things we've needed before (probably not complete)

- [x] Nametag holders
- [x] Pronoun tags
- [x] table cards
- [x] Lanyards
- [x] stickers
- [x] stage dressing
- [x] batteries
- [x] spare

[2017-08-08 15:34] slobo665 commented on #61
Yap, confirmed ;)

On Tue, 8 Aug 2017 at 21:24, Joseph McArthur <notifications@github.com>
wrote:

--
Sent from my iPhone. Please excuse any typos.

[2017-08-08 15:35] JosephMcArthur opened #65 "T-shirt Design"

[2017-08-08 15:36] JosephMcArthur opened #66 "Order T-shirts"
- [ ] Delivery address
- [ ] Vendor
- [ ] Sizes & #

[2017-08-08 15:40] JosephMcArthur opened #67 "Plan Project Presentations"
The outcome of this should be a set of issues on the repo that are assigned / tagged & timebound

[2017-08-08 15:42] JosephMcArthur opened #68 "Confirm 2018 Sponsor Levels"

[2017-08-08 15:43] JosephMcArthur opened #69 "Write an announcement (or general copy) for people who want to sign up for 2018"

[2017-08-08 15:44] JosephMcArthur opened #70 "Confirm a main venue for 2018"

[2017-08-08 15:44] JosephMcArthur opened #71 "Confirm a hotel for 2018"

[2017-08-08 15:45] JosephMcArthur opened #72 "Generate 2018 Logos"

[2017-08-08 15:51] JosephMcArthur opened #73 "Send OpenCon roundup email to whole list"
Include:

- [x] OpenCon videos
- [x] anything cool that happened at the event
- [x] OpenCon 2018 Announcement

[2017-08-08 15:56] JosephMcArthur opened #74 "Finalise logistics page"

[2017-08-08 15:56] JosephMcArthur opened #75 "Draft & release logistics page"

[2017-08-08 15:59] JosephMcArthur opened #76 "Upload everyone to Sched"

[2017-08-08 16:03] JosephMcArthur opened #77 "Things to print"
The start of a running list...

- [x] Code of conduct
- [x] Direction Signs
- [x] Podium sign
- [x] Table Name
- [x] Speaker name cards
- [x] @lorrainechu3n's design thinking booklets
- [ ]  Time Keeper Packets
- [x] Welcome letters (text linked in #133)

Designed in #122

[2017-08-08 16:25] JosephMcArthur commented on #8
It's worth noting that we have both a nice landing page: https://sparcopen.github.io/opencon/ & and email cloo+sparcopen/opencon@cottagelabs.com that can be used to submit.

[2017-08-08 20:04] JosephMcArthur commented on #56
A suggestion / offer from Danielle / Steph (Mozilla) here that I really like:

I'm pretty pro having a session that would help prepare people for making the most out of the doathon and I think this could do just that.

[2017-08-09 13:45] JosephMcArthur opened #78 "Plan Super Workshops"

[2017-08-09 14:10] JosephMcArthur commented on #54
My notes suggest that last year (mid event at some point) we thought having two speakers laptops (to even more smoothly switch out / test slides would be helpful). Pretty sure this is @txtbks idea.

[2017-08-09 14:37] JosephMcArthur opened #79 "Coordinate Help Desk"
A full time help desk clearly provided for the event would be helpful (and we end up doing this ad-hoc each year anyway).

Here we can make sure that people can always find help with:
* Wifi
* Sched
* Directions / maps
* Code of conduct
* Slide submission / testing

This might also help with people not coming to the staff time in the event which would help with us focusing on whatever is most urge

[2017-08-09 16:19] JosephMcArthur commented on #6
So, I've just looked through the feedback forms / general data & my notes for the past couple of years. I'm looking at 2015 / 2016 materials as in each year the facilitation was basically the same.

First, both years the Unconference session is rated incredibly highly. Our basic formula works well here, and while almost everyone has a suggestion for how we could improve it's from a standpoint of "

[2017-08-09 19:19] npscience commented on #6
Caveats:
* I was only at 2016 so can't comment on 2015
* In my mind, unconference sessions are either group discussions to share viewpoints/information, or project kickstart meetings (with actual view to engaging afterwards)

Quick thoughts:
* Longer sessions = good by me. 40 minutes was a rush and felt like we couldn't achieve much.
* Maybe some more time and resources to help hosts prepare for a

[2017-08-09 19:23] pennybphd commented on #6
I agree with Naomi.

Additionally, for kickstart meetings it should be about group goals and
interests. I've been too many at OpenCon and elsewhere where it's one
Global North white man looking for buy-in and volunteer labour for his
great idea, and not any other substantive input. You can ask for volunteers
in a lightning talk or on Twitter - it's a waste of an unconference session.

On Wed, 9 Au

[2017-08-10 19:02] char-siuu-bao commented on #14
Hey @guichactis!! Thanks so much for your suggestions!! Best to check with Joe and Nick to see what they think, but they both seem like they'd be great speakers for the call.  I'll follow up with them!

I've put together a little document to guide community call facilitators - let me know if this is helpful for you to prepare! :) https://docs.google.com/document/d/1CN_eq-Z1sBJaNfNn6s03ReY-7JVbFYqj

[2017-08-11 11:27] JosephMcArthur opened #80 "Evaluating Successful Projects & Project presentations"
_I originally sent the below to @nshockey following up on a phone chat we had about the program but realised it can go here too!_

Now we have a draft program in hand I went back and looked at that vs feedback from last year. I noticed that both the things we do to highlight projects don't seem as helpful as other sessions.

<img width="582" alt="screenshot 2017-08-08 21 17 53" src="https://user-i

[2017-08-11 11:33] pennybphd commented on #80
Can we do a successful projects zine as swag, which also doubles as a slide
show between talks at the event, and focuses on the people and their big
takeaways/tips with project title and link? Heroes of OpenCon aren't just
the person who gets the orange cape...

On Fri, 11 Aug 2017 at 12:27, Joseph McArthur <notifications@github.com>
wrote:

[2017-08-11 11:37] JosephMcArthur commented on #80
I love that idea, reminds me of the [Mozilla Communities Yearbook](https://docs.google.com/presentation/d/1mBZRneCblkhFvbBKlO29Z8XLeGFRhyR7oQzCMvY2MpA/edit?usp=drive_web) which is an idea we were pretty fond of for a while but never managed to do!

[2017-08-11 12:17] JosephMcArthur opened #81 "Agenda for August 16th Call"
Some obvious points below:

* Updates:
  * Fundraising
  * Application Process Update
* Program

[2017-08-11 13:34] JosephMcArthur commented on #78
This year we're working on a change to our usual workshop format with our mission "culture change at scale" in mind.

In previous years we had different workshops on different topic areas - one idea that we are exploring this year, instead of having different workshops exploring different concepts, having ALL workshops structured around ONE idea. e.g. on how to create a culture of Open in your cam

[2017-08-11 13:44] JosephMcArthur commented on #56
As is the theme of my week... lets recap previous work here.

# 2014

We did the following webcasts:
* Open Access 101
* Open Education 101
* Open Data 101

The idea here was to provide content that introduced the issues so we didn't have to do this during the meeting.

Feedback/assessment:
... none in the forms that I could find.

# 2015

We did the following webcasts:
* The state of OA
* The sta

[2017-08-11 14:48] JosephMcArthur commented on #5
Story Circles were our rated our top session in 2016, with almost universal praise. That is frankly amazing considering we managed to host 30 of these having only ever been in 1... I get anxious again just thinking about it. We've also seen at least one other conference reuse this idea with our materials \o/ .

The challenge this year is going to be making sure this isn't a fluke! After all, we on

[2017-08-11 15:17] char-siuu-bao commented on #56
As I've mentioned before, If we choose to do webcasts this again this year, I think one of our top priorities should be making sure our pre-conference webcasts are more inclusive and move away from an exclusively Western primer to some of these issue areas.  Again, I think that especially for the Intro to Open Education webcast, it's important to move away from the American higher education system

[2017-08-11 15:19] mendulla commented on #5
It's probably best not to have a second day of it, as novelty contributed to its appeal.

The Story Circle is a very engaging, very personal session. Stories are very powerful. I guess its natural for people to like sessions where they are engaged in that sort of way.

I wouldn't recommend scrapping a session just for the fact that it received low votes. Whatever the criticisms of the 2-minute pre

[2017-08-11 16:02] npscience commented on #56
Re the idea of getting people to absorb action-related items in preparation, e.g. checking out some of the projects, suggesting their own, doing some open leadership training - is it worth having a few 'open office hours' sessions (across different time zones), in which people can sign up to block out time in order to do the prep with a few alum on hand to answer Qs as needed? I imagine most would

[2017-08-11 16:10] npscience commented on #80
+1 for yearbook/zine idea <3

Actual printed booklet seems like a lot of overhead (but nice to keep for posterity). The Mozilla one would be a great way to crowdsource and share info with links. Could this be started before OpenCon, and completed during and shortly after (to help those less confident about putting their own projects in upfront), to aim for a end of (Western) year release by email?

[2017-08-11 16:17] char-siuu-bao commented on #80
I *love* the zine idea! It would be pretty low cost too (probably between $3-$5 per booklet) in terms of printing costs.  Time and resources in putting the document together, would be the bigger bottleneck, I think!  I think this could also look like a digital gallery highlighting successful projects; It could be a good way to highlight projects that aren't in the room but are in the OpenCon commu

[2017-08-11 17:21] JosephMcArthur commented on #5
Thanks for the feedback @mendulla!

The below is an intro that Jake Orlowitz used that he's licenced CC-0 for us to use.

[2017-08-11 21:55] JosephMcArthur opened #82 "Explore hosting future OpenCon global meetings outside Europe and Northern America"
Highlighted by @lorrainechu3n in the DEI report. Sticking here and in the backlog for long term tracking.

[2017-08-11 22:55] JosephMcArthur commented on #4
I'm currently working on a more in-depth plan for the do-a-thon in a gdoc. It's very very rough, and not totally ready for sharing yet [but here it is anyway](https://docs.google.com/document/d/18QBLnDcug9LlzIAczo3YrhY0IsyPobvKes2iSgnf4XM/edit#). However, I keep running up against one challenge in imagining how to organize this, basically what technology to use to facilitate an in-person & remote

[2017-08-12 10:15] Bubblbu commented on #4
I really like the idea of having Git in the background to manage versioning + provide a more intuitive and less complex interface to do the writing/editing.

Maybe this could be a potential solution? (Haven't tried it myself yet...) https://www.penflip.com/

[2017-08-12 12:27] npscience commented on #4
Honestly, and this may be controversial, for more quickfire contributions in an easier interface than github, Slack has been really useful in my experience. It needs people to be active on there, but it is very intuitive (more so than github). The key benefit is the flexibility of having different 'chatrooms' for different topics. It can be used in browser or app so you can participate remotely. E

[2017-08-14 04:59] JosephMcArthur commented on #5
Sharing some more great feedback we got From @chealsye & @rchampieux  who reused our materials.

From a facilitator’s perspective, I did struggle a bit with keeping people to their five minutes.  When someone is sharing personal info, it’s difficult to know when and how to gently interrupt.  It could be helpful to provides tips to this end.

[2017-08-14 14:13] JosephMcArthur commented on #13
A little nudge to @chealsye / @rchampieux for speakers on the OA week project & @chealsye on her institutional policy work.

@nshockey I'm happy to commit to shipping a draft of content onto the super secret site helping people know what to do during OAweek before this call if you can get some a draft of some content. Might be a _great_ place to hear people's reactions / get feedback before puttin

[2017-08-14 14:22] char-siuu-bao commented on #13
@JosephMcArthur - Great! We now have a few speakers lined up and confirmed (including L. Kelly from OATP, Chealsye, and Mike Galang from McMaster working on a "blackout" library campaign, and @npscience), but it would be awesome to have more non-Western regions speak.  If you also speak about your site I think we should cap it at that for Western speakers. Also — It'll be almost 10pm in India duri

[2017-08-14 15:21] JosephMcArthur commented on #81
* Ask folks to do 10 reviews before the call
* Speak about how many no's before people are removed from the round.

[2017-08-14 16:17] rchampieux commented on #80
YES!!! to the zine idea!  I think it speaks to the spirit of OpenCon and this community on so many levels.  Let's make it happen.

[2017-08-14 16:31] rchampieux commented on #80
Also re project mentoring and advice - this might be another area for which we can borrow / draw some inspiration from a Mozilla program, specifically the open leadership mentoring model.  As I understand it individuals working on a project are matched up with a mentor that provides 1:1 advice, encouragement, brainstorming, etc.  The relationships is kicked off at the a face to face event, but mos

[2017-08-14 16:44] rchampieux commented on #37
@JosephMcArthur do we have any data on the engagement with the live stream from previous years?  Given the evolving format, I don't think business as usual will work.  I like the idea of devoting more time to filming individual or even project profiles.  Additionally, I wonder if there is a way to use this medium to foster more explicit connections with the satellite events.

[2017-08-14 16:58] char-siuu-bao commented on #81
- Chat about CoC updates, changes and processes (will create a doc to circulate)

[2017-08-14 17:01] rchampieux commented on #4
Hi!  I agree with @npscience. We use Slack for Science Hack Day PDX to facilitate many of the tasks @JosephMcArthur outlines above and it's worked out really well (2nd year running).  We have a Github repo, but we've tended to use that more for organizer activities.  This year we're changing this up a bit and will have "Data and Documentation Zone" where people can get help with Github, version co

[2017-08-14 17:23] JosephMcArthur commented on #4
Can either of you add me to an event slack that you seen used like this in
the past? I'm sold on having chat be a part of this but never imagined that
as a primary place to achieve the tasks above. I think I need to "see it to
believe it".

On Mon, 14 Aug 2017 at 18:01 Robin Champieux <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righ

[2017-08-14 17:35] char-siuu-bao opened #83 "Research & update CoC / get feedback from OC + staff."
- Research other conference COC's and relevant blog posts
- Suggest changes to CoC and compile into Google Doc
- Prepare prompt questions/proposed changes to discuss on OC call on Wednesday

[2017-08-14 17:53] char-siuu-bao commented on #83
Useful resources:

Safe conferences are deliberately designed: https://medium.com/@jmspool/safe-conferences-are-deliberately-designed-2849b6cd3658

Handling harassment incidents swiftly and safely: https://adainitiative.org/2014/07/23/handling-harassment-incidents-swiftly-and-safely/

Harassment report at your conference: what do you do? https://adainitiative.org/2012/10/04/harassment-report-at-yo

[2017-08-14 18:31] char-siuu-bao opened #84 "How to make OpenCon more inclusive for English as a second language speakers?"
- Closed captioning
- Translators before/after/during event.

[2017-08-14 18:31] char-siuu-bao opened #85 "Make sure conference registration has questions around accessibility needs!"
- Need to chat with Nicole about this when registration from is designed.

[2017-08-14 18:31] char-siuu-bao opened #86 "Update CoC on website"
Needs to be done after updates have been approved and gone through with staff and OC.

[2017-08-14 18:33] rchampieux commented on #4
Hey @JosephMcArthur - I just sent you an invite to the Science Hack Day PDX team - we're just starting to exchange ideas about this year's projects, but if you go back to October of last year, you'll see lots of activity.  Also, here is our Github org and repos:  https://github.com/ScienceHackDayPDX.  I think our use of Slack has been productive, but also a bit messy : -)  There are improvements a

[2017-08-14 18:34] char-siuu-bao opened #87 "Venue accessibility check / Look into Inclusive Room requirements (e.g. gender neutral washrooms)"
**VENUE ACCESSIBILITY - have someone on site do a walk through and check for these features:**
- [ ] checklist downloadable here: https://www.americanbar.org/content/dam/aba/administrative/mental_physical_disability/Accessible_Meetings_Toolkit.authcheckdam.pdf

**Create plan to convert rooms to these ones (make sure this is possible)**
- [ ] Venue has gender neutral bathrooms or is open to designa

[2017-08-14 19:43] JosephMcArthur commented on #14
@lorrainechu3n just sent you a bunch of info from last year on speakers suggested by @nshockey and @txtbks. Also, I've added a lot of content/edits to the facilitation guide, thanks for kicking it off so well!

@nshockey any thoughts on the speakers suggested above:

implementing the national open access green route's policy.

President, who works at the Open Data policy.

@guichactis, any word on

[2017-08-14 20:20] nshockey commented on #81
Draft agenda for August 16th

- Updates
- Review process
- Code of Conduct changes
- Program
- Any other business

[2017-08-14 20:34] guichactis commented on #14
My boss has been out of the office the whole past week. He'll be back tomorrow so I'm hoping to mention this just to check with him if it's okey for me to use one of the meeting rooms and be absent from my desk for as long as the call lasts. Thanks both for your work on the facilitation guide!

[2017-08-14 20:46] JosephMcArthur commented on #81
I expect that the discussion of CoC will take most of the call (or at least it certainly could), but @nshockey is there anything you'd specifically like me to prep for the program discussion? Right now I'd be very happy with a plug for folks to read, consider, and feedback within 1.5 weeks before we generate true "plans" for their approval (most of the issues discuss what I think would be helpful

[2017-08-14 21:22] char-siuu-bao commented on #83
Notes being dropped down here: https://docs.google.com/document/d/1LkywkSHDJAFmy4GsrY3W02jDO8l_Ovz2KSk9Ek68WQ4/edit#heading=h.g35vv2irnuf

[2017-08-14 22:53] Bubblbu commented on #4
Another possibility would be to use [Gitter](https://gitter.im/home/explore/). It's quite popular among the open-source community (and is since its acquisition by GitLab Open Source itself) and connects closely with GitHub. Has some nice features such as directly linking to GH issues or creating chatrooms for repositories.
Furthermore, I think that it's really nice that you don't need an invitatio

[2017-08-15 17:56] char-siuu-bao commented on #83
Questions for OC: Going through for OC call:
- Go through internal process — anything people don't agree with?
- Discuss what sanctions / repercussions look like (what is appropriate and realistic?)
- Feedback on Code of Conduct Language / section updates on site.
- Has anyone seen anonymous reporting done at other conferences? How did this work?
- How do we create a safer space at OpenCon - not j

[2017-08-15 17:57] char-siuu-bao commented on #81
Just wanted to drop questions we'll be discussing as a group about the COC and that would be great to get feedback on tomorrow:
- Go through new suggested internal process — anything people don't agree with?
- Discuss what sanctions / repercussions look like (what is appropriate and realistic?)
- Feedback on Code of Conduct Language / section updates on site.
- Has anyone seen anonymous reporting

[2017-08-16 09:50] guichactis commented on #14
I spoke with my boss yesterday and he's perfectly fine with me facilitating
the call during office hours :) Just let me know @lorrainechu3n
<https://github.com/lorrainechu3n> if we can arrange a google hangouts vc
for me to prepare for it.

On 14 Aug 2017 4:43 p.m., "Joseph McArthur" <notifications@github.com>
wrote:

@lorrainechu3n <https://github.com/lorrainechu3n> just sent you a bunch of
info

[2017-08-16 12:08] JosephMcArthur commented on #39
I've written up some thoughts on OpenCon Live [here](https://docs.google.com/document/d/1WCWlo_i_xFdxA0l_Hhc_Zd-9ouMX3nM-zB-1Th6VxiI/edit?usp=sharing).

Some of the key questions raised are:
* OpenCon Live was originally a key DEI initiative for us, how do we understand it now? What DEI challenges can it be used to tackle for us?
* How can we frame this years OpenCon live around the doathon?
* Ope

[2017-08-16 12:34] JosephMcArthur commented on #4
Thanks to everyone for their thoughts, I'd love to hear more.

I've started to pull together a fuller plan (rather than a list of questions & considerations) [here](https://docs.google.com/document/d/18QBLnDcug9LlzIAczo3YrhY0IsyPobvKes2iSgnf4XM/edit?usp=sharing).

I think a few key questions:
* Do we try and arrange _very_ action focused optional workshops for people during the day or have no prog

[2017-08-16 13:29] pennybphd commented on #39
I feel like this is another thing where we can learn from Mozilla sprints
and also the Sustainable Software Institute bods.

On 16 August 2017 at 13:08, Joseph McArthur <notifications@github.com>
wrote:

[2017-08-16 15:27] txtbks commented on #36
Closed since this seems the word seems to have gotten out sufficiently!

[2017-08-16 15:27] #36 closed, assigned to nobody

[2017-08-16 15:31] txtbks opened #88 "Application Notifications"
Figured it would be useful to have the application notifications under a separate issue. The input for this process will be a list of all applicants marked with a decision from #27, which will be ready the week of Sept 4.

- [ ] Write decision email text
  - [x] Draft
  - [ ] Final
- [ ] Create forms
  - [x] Registration
  - [ ] Waitlist
- [ ] Generate custom fields for input in decision emails

[2017-08-16 15:35] txtbks commented on #27
Just split off the parts about notifications into a new issue #88

[2017-08-16 17:34] txtbks commented on #79
I wouldn't call it ad-hoc :) but like the idea of more clearly marking and publicizing it. Last year we also provided basic medical and hygiene supplies, extra food, basic office supplies (scissors, markers, pens), and a list of nearby facilities. Would be also super helpful to check if we can have a printer at/near the desk. One thing I wish we'd done last year is better leverage the OC to help s

[2017-08-16 18:46] char-siuu-bao commented on #5
I think story circles are great! I'm glad we'll be doing it again this year.

On a guide for others to use at their events — @chealsye were you using this guide? http://www.opencon2017.org/story_of_self_circles If so, does it require more detail and guidance?
BTW, I really like Jake's intro!  This is something we can add to our facilitation guide?

On keeping with time: perhaps doing a hand motion

[2017-08-16 18:54] char-siuu-bao commented on #80
Matching mentors up (and the Mozilla mentoring @rchampieux mentioned) was something that also came up on today's OC call — so definitely something to consider. Does anyone have the link to Mozilla's model? I'm not super familiar, but it's something worth exploring as a way to support folks not in the room at OpenCon too (and our global community more broadly).

I still think there's value in makin

[2017-08-16 18:56] char-siuu-bao commented on #56
Hey @npscience! What we've done in past years is direct people to older webcasts (specifically the 101 videos, which act as a crash course — definitely nice to have for those newer to certain issue areas).  As I mentioned above however, my main discomfort of these webcasts, some of the content is quite exclusionary and Western-specific, which is not ideal and does not reflect the folks coming to O

[2017-08-16 19:00] char-siuu-bao commented on #6
Will revisit this thread for a longer comment, but a quick thought /question I wanted to share before I forget — how will the do-a-thon affect unconferences?  There's a lot of overlap between the two (and I imagine some unconference sessions may transform into do-a-thon teams/projects). Do we draw a link between the two? Is this overlap something that we need to account for?  Especially if some pe

[2017-08-16 19:07] char-siuu-bao commented on #34
Will they still display on Github pages properly?  I think they need to be HTML because of the template.

[2017-08-16 19:08] chealsye commented on #5
@lorrainechu3n I wasn’t using this guide. I hadn’t seen that site before and unfortunately didn’t know it existed. Is it included in the hosts' homepage? I was basing my story circle use on my experience at OpenCon and instructions were limited to an email in 2016 to my memory. It wasn’t intended to directly mimic OpenCon, but Joe emailed me because he heard I used story circles in my workshop. Th

[2017-08-16 19:31] txtbks opened #89 "Pre-conference outreach from the OC to attendees"
On the 8/16 OC call we discussed ways to help attendees -- especially new ones -- feel prepared and welcome, and provide an additional venue for people to ask questions. The two ideas we discussed were:

- Personal emails from OC members to attendees (did this last year)
- Office hours staffed by OC members

The emails went well last year. About two weeks out we had the OC split up the attendee li

[2017-08-16 19:49] rchampieux commented on #80
@lorrainechu3n I tried to find the Mozilla program documentation, but no luck.  I can ask Daniela Saderi and Danielle Robinson, as they're both participating.

[2017-08-16 20:36] chealsye commented on #13
@JosephMcArthur, @lorrainechu3n confirmed me via email. Call on my calendar, will be there!

[2017-08-16 23:31] txtbks commented on #75
Just a quick flag that I hid a lot of last year's text in the HTML of the FAQ and attendee FAQ pages. So be sure to check the HTML view in NB before re-writing stuff (obv details will change but may be helpful to see what we covered last year).

[2017-08-16 23:33] txtbks commented on #81
Opened an issue (#89) to discuss OC outreach to attendees prior to the conference (which came up on today's call).

[2017-08-18 15:44] aldirdiri commented on #4
@JosephMcArthur A bit off point here, but I would like add few points to this sketch to make the maximum use of the Doathon plan. I believe adding a workshop on how to plan/organize a Doathon would be a great addition to the program.

This way the participants will be prepared to join the Doathon prior to their arrival (webcast), will learn how to plan/organize one, and will then experience how a

[2017-08-18 16:47] aldirdiri commented on #78
There's a lot to be said here especially there are different approaches to each group (students, librarians, researchers ..etc). For example there were many times when I approached students that I had BUILD a culture rather than changing one (which is the case for many African and Middle Eastern countries that I've worked in). So with the vast representation our OC creates and with keeping such di

[2017-08-18 20:09] aldirdiri commented on #56
I agree with @lorrainechu3n on the need for an update especially the OE section (I could never use any of these resources in Sudan). We can have the old webcasts as "additional readings" while directing participants to the updated ones primarily. We also need to create materials (could include a webcast) for participants to understand what a Doathon is and prepare them for the day.

@npscience I r

[2017-08-18 20:24] aldirdiri commented on #80
I love the zine idea. It would be also wonderful to highlight some of the non-participants' projects. Though I still feel positive about having some presentations as well. Perhaps reducing the number and changing the panel style may work out (individual presentation rather than a panel) with a special focus on takeaways (so the projects are more of case studies). This would provide the participant

[2017-08-22 15:53] #81 closed, assigned to nshockey

[2017-08-22 15:58] char-siuu-bao commented on #14
@guichactis, my apologies for the late reply! Great to hear that you'll be able to facilitate.  Let's set up a time a week or two before the call to get you prepared!  Could you give me a few times that you're available the week of September 11 and September 18 to chat?  My schedule is more flexible on Thursdays/Fridays if that helps!

I'll start reaching out to speakers this week.  Eunice and Rob

[2017-08-22 17:36] char-siuu-bao commented on #14
Potential speakers contacted so far:

- Eunice from Mexico (working on Mexico national OA policy)
- Robertus from Indonesia (working on Open Data policy - but it may be too late in his time zone to participate - 11 pm!)
- Laura from Liberia (who has plans to meet with the Ministry of Education to talk about Open)

[2017-08-23 15:22] npscience commented on #80
@JosephMcArthur I like your alternative idea of a keynote about working open - but is this advice out there already (i.e. in Mozilla resources)? What would be the value to this audience?

The Zine would be a good medium to share details of the projects (and would be nice to also include links to resources they have found useful for their projects).
I see getting up on stage in front of everyone as

[2017-08-23 15:51] npscience commented on #4
Some further thoughts/responses:

**The doathon itself**
Considering the personas you've listed, I see no problem in having workshops on specific projects (e.g. full morning/full afternoon) and people dropping in or committing for longer periods of time to work on a project. Some people might go between rooms to shop for a project of interest, others may commit to one project only for the whole ti

[2017-08-23 16:09] char-siuu-bao commented on #80
@JosephMcArthur re: "For "Project presentations & Successful Projects Panel", it would be good to know if people think replacing our panel of successful student projects with one keynote from an out of this world rockstar (like Erin or Mike, in previous years) giving advice on doing open would be good."

I want to emphasize the value in the project presentations and successful projects panel is th

[2017-08-23 17:02] char-siuu-bao commented on #4
## **Tech/Communication Tools**
Just wanted to summarize most of the ideas presented so far on the thread:
- **Slack/Google Docs Combo:**  Low barrier to entry, easy to use, chat function is helpful for getting tasks done and letting remote participants participate in real time.
- **GitHub:** Clear organization/documentation of all the projects going on, repos useful for project management, projec

[2017-08-23 17:24] aldirdiri commented on #80
I totally agree with @lorrainechu3n if we were to replace the panel with a keynote. It would also be better if the presenter is an EC.

[2017-08-24 05:46] rchampieux commented on #80
Hi all.  On the whole, the idea of replacing the project presentations with a rock star keynote doesn't resonate with me, and I'm skeptical it will achieve the outcomes/goals noted above, especially in regards to mentorship.  That said, this kind of keynote can be inspiring and facilitate other important takeaways.  If we do go this route, I think @lorrainechu3n suggestions above are spot on.

I w

[2017-08-24 05:54] rchampieux commented on #80
@JosephMcArthur @npscience @lorrainechu3n here is the slide deck Mozilla Science uses for its open leaders mentors training:  https://docs.google.com/presentation/d/1VPQ2w5RBHcw4Rx7h--OwttzkkGTC_cwE-da08Hz_E_E/present?slide=id.g1088c5b110_0_183.  Not a whole lot here, but some good ideas to consider.  Also, Danielle Robison said she would be happy to talk about her experience as a mentor in more d

[2017-08-24 06:21] rchampieux commented on #4
I'm really keen on the idea of option workshops - and there are some great suggestions in the Google doc.  If we keep the workshops compact (maybe an hour or two at most), facilitators and participants will be able to workshop and contribute to projects.

Additionally regarding documentation - at this year's Science Hack Day PDX, we're setting up a Documentation Zone where attendees can come at an

[2017-08-24 06:45] rchampieux commented on #84
@lorrainechu3n I realize the impact of this strategy is relatively tiny, but for ESL presenters can we encourage them to use their language of preference in presentation materials?

[2017-08-24 10:29] Bubblbu commented on #80
I agree with @rchampieux comment. I'm skeptical about replacing the panel with a (probably less EC) rock star keynote. But I think that having a rock star from an underrepresented region & who is also EC, as suggested by @lorrainechu3n and @aldirdiri, would be a great way to do so.

Although I absolutely love the idea of a zine (:raised_hands:), I think that it is hard to replace the special value

[2017-08-26 16:21] JosephMcArthur commented on #83
leaving a little todo here:

- [x] once we update the CoC it'll need to be updated on Github, as well as the website.

[2017-08-28 13:37] guichactis commented on #14
Sorry for the delay! Yes! Fridays are better for me too, and the best time is after 2 pm Argentina. Let me know what you think to block the date and time.

[2017-08-28 18:58] JosephMcArthur opened #90 "Ideas for OpenCon Receptions"
Our rough objectives for receptions historically have been to:
* Make the most of the time attendees have together
* Help people network and get to know each other more informally
* Make sure people get fed, have time to relax, and get enough sleep!

In previous years OpenCon has leaned on receptions based around alcohol for our evenings. For a number of reasons, we're interested in new ideas for

[2017-08-29 16:02] #13 closed, assigned to lorrainechu3n

[2017-08-29 16:05] char-siuu-bao commented on #14
We've had Carly (USA) and Eunice (Mexico) agree to be on the call! Hopefully can secure one more speaker before the end of the month as well — if anyone has more suggestions on who to contact, that would be greatly appreciated!

@guichactis — how about Friday September 15th, 2:30pm Argentina time? Would that work for you? (@josephmcarthur, if you're able to join then as well, that would be great!)

[2017-08-31 01:16] rchampieux commented on #90
I like the idea of low key activities that get people talking and getting silly - something like board game night would be fun, especially if there were a variety to choose from that would appeal different styles.

City tours are fun, but maybe not on the first night - I'm not sure it would get people talking to each other.

Some additional networking/activity ideas for receptions:

* DIY sign mak

[2017-08-31 01:39] npscience commented on #90
+1 to decorate your badge. Alternative: design your own laptop sticker?

City tour/walk - sounds good to me, I've seen this done on first night before. I wonder if you could expand on your concern @rchampieux? Is it because it needs to happen in smaller groups?

I think a facilitated activity (rather than an open room for networking/reception) could be good for first night as it could be more stru

[2017-08-31 05:13] rchampieux commented on #90
@npscience re city tours - because the focus the focus would be so outward, I think people would have less opportunities for striking up sustained conversations with people they don't already know.  Maybe I'm overthinking it 😸 , especially if you've seen it done well on the first night.

+1 to design your own laptop sticker!

[2017-08-31 05:24] rchampieux commented on #90
One more - very specific idea.  I've done a couple meet and greet events where we set up [Makey Makey](http://makeymakey.com/) stations and people worked together to create silly applications, like a banana piano or super simple video games.  They have fun and get know each other by putting stuff together, but also playing with what's been created.

[2017-08-31 18:07] char-siuu-bao commented on #90
I kind of like city tours (or food tours!) I remember in OpenCon 2014, we had busses shuttle people to different restaurants. People could order drinks with dinner if they wanted to, but it definitely wasn't boozy or centred around alcohol (plenty of people didn't drink), and it was good way to mingle in an informal setting (although maybe still a little anxiety inducing for introverts).  Could th

[2017-08-31 20:07] thomasmboa commented on #90
Hi everyone,

All these activities sound good for me, but I can add +1 to  Evening
doathon and propose these activity:  *How to use rpi3
<https://www.raspberrypi.org/> to advance OOO? *

I don't know if there are soccer fans in the group, but Germany is one of
the greatest country of soccer in world, can we propose something related
to it?

😃😃😃

2017-08-31 14:07 GMT-04:00 Lorraine Chuen <notificat

[2017-08-31 20:16] rchampieux commented on #90
+1 to soccer @thomasmboa
I really like the idea of food tours too @lorrainechu3n.

[2017-08-31 20:28] pennybphd commented on #90
Berlin Food Stories do food tours, which I've always fancied (they have set
dates but also do personal/group tours). I quite like the idea of there
being a range of things to choose from, led by OC etc members, to suit
different needs and interests. Sport, board games, tech stuff, city tour,
food tour, music, quiz, karaoke...

I've always wanted to do this, of course:
http://www.musictours-berlin.

[2017-09-04 15:48] JosephMcArthur opened #91 "Develop a document pulling together all our story of self planning"
This can likely be developed from what we generated last year, and this year we can refine it.

[2017-09-04 15:49] JosephMcArthur opened #92 "Refine story circle documentation for release"

[2017-09-04 15:50] JosephMcArthur opened #93 "Identify tooling for making story circles easier"
- [ ] arrange a call to discuss further with @lorrainechu3n

[2017-09-04 15:52] JosephMcArthur commented on #5
Thanks to everyone for the feedback. This year I'd suggest we proceed as recommended, but while we implement this year spend time documenting our planning so that these sessions can be better reused by others, and as we implement these each year it becomes easier to do.

@lorrainechu3n I totally agree that making these groups last minute is certainly the worst part of this. I wonder if we can spen

[2017-09-04 15:52] #5 closed, assigned to JosephMcArthur

[2017-09-04 15:53] JosephMcArthur opened #94 "Build a pre-conference checklist for attendees"

[2017-09-04 15:55] JosephMcArthur opened #95 "provide recommended reading on culture change"
Suggested as I don't think this is a particularly straightforward matter, but there is likely a lot of reading that could be helpful for us to have productive discussions.

[2017-09-04 16:09] JosephMcArthur opened #96 "update our issue introduction webcasts to be more globally inclusive"
We rely on our intro-webcasts to bring attendee's up to speed, but they themselves haven't kept up with our focus on inclusive programming. It's time for an update!

Our Open Education webcast seems to be the priority area, so I'd suggest we start planning there. If we have time, then we can do Open Access & Open Data too.

These webcasts will form part of the pre-OpenCon preparation for attendees

[2017-09-04 16:11] JosephMcArthur opened #97 "arrange an introduction to OpenCon webcast similar to 2016"
I have no particular suggestions for anything to change, so unless others do this issue can just stick to logistics!

[2017-09-04 16:12] JosephMcArthur commented on #56
Moving forwards, I'd suggest our path forwards here is to:

at least:
* arrange an introduction to OpenCon webcast similar to last year - #97
* build pre-conference activities into the do-a-thon - #4
* do early reach-out to attendees before the meeting - #7
* update our issue introduction webcasts to be more globally inclusive (at least our OER cast, with others to be assessed) - #96

and as stret

[2017-09-04 16:17] JosephMcArthur commented on #90
To massively steal an idea from another thread, I think an evening would be a great time to make a MASSIVE zine (as suggested in #80). Folks can get creative, in a chilled way, while keeping a bit of a focus on open & what not. Also, I think it achieves the networking thing in a not awful way - "hey, what are you drawing".

[2017-09-04 16:46] JosephMcArthur opened #98 "Provide better support for unconference facilitators"
From #6

People will often comment that some sessions feel unfocused, or individuals dominate the conversation, conveners don't have a clear session plan and that role cards aren't used.
Most of these points boil down to bad facilitation, people not using the help we provide or lack of time to prepare.
To address, consider:

[2017-09-04 16:46] JosephMcArthur opened #99 "Encourage reporting out, and feeding into the doathon from the unconference"
from #6

Sadly, despite putting in place docs & sched for enable report-outs people rarely do. It seems often the notes docs are really used to the full extent and it's almost certain that sched isn't being used to get in touch with people after the event.
To address, consider:
* When giving people a 5 / 10 minute warning suggest they switch to doing a report out / finalising outcomes
* Provide de

[2017-09-04 16:47] JosephMcArthur commented on #6
Thanks for the feedback all. Sounds like what I'm suggesting isn't too far off.

I think there are two key improvements to make this year:
* Provide better support for facilitators - #98
* Encourage reporting out, and feeding into the doathon - #99

and there are a bunch of suggestions for those above.

I'd also suggest we dogfood the planning process by using our own guide during the planning pro

[2017-09-04 16:47] #6 closed, assigned to JosephMcArthur

[2017-09-04 16:52] JosephMcArthur opened #100 "Open Unconference Submissions"

[2017-09-04 16:54] JosephMcArthur opened #101 "revise / update unconference web materials"

[2017-09-04 16:54] JosephMcArthur opened #102 "Update unconference presentation"

[2017-09-04 16:55] JosephMcArthur opened #103 "Expand OpenCon Unconference guide"
Specifically, include what should be done _during sessions_.

[2017-09-04 17:27] JosephMcArthur opened #104 "OpenCon Zine :O"
Suggested in #80 by @pennybphd to an amazing reception.

Would love ideas on how to make this happen.

[2017-09-04 17:32] JosephMcArthur commented on #80
Thank you, everyone, for all the amazing feedback here. Really really great.

Here is what I'd suggest moving forwards:
* Let's try and figure out a way to make a Zine happen. I don't have the foggiest where to start with that but have suggested that making one could be a cool reception.  - #104
- [ ] I'd like to see us keep project presentations. However, I'd like to challenge us to use them to f

[2017-09-04 17:36] JosephMcArthur opened #105 "Identify & train someone to be the voice of OpenCon Live"

[2017-09-04 17:39] JosephMcArthur opened #106 "Assemble a team of content curators"
This would need to be a small, multilingual team with a decent eye for stories & what would engage people. This group could:
* Using Live Highlights on our Youtube Live channel to make the stream more engaging
* Creating moments from tweets as they happen
* Creating & translating key session notes

Suggested in #39, but this is a bit of a stub issue as until we've done more planning it's unclear i

[2017-09-04 17:40] JosephMcArthur opened #107 "Update OpenCon Live webpage"
Some key points to include can be found here: https://docs.google.com/document/d/1WCWlo_i_xFdxA0l_Hhc_Zd-9ouMX3nM-zB-1Th6VxiI/edit#

[2017-09-04 18:00] JosephMcArthur commented on #107
![img_20170904_185005546](https://user-images.githubusercontent.com/4953703/30035439-0ef49c5c-91a2-11e7-9fa0-2f53db4a1b19.jpg)

Just played a bit in my notebook. Some notes:
* Sched is confusing, and embedding it removes the live only filtering. This makes it even hard. Lets just linkout.
* Simplify actions to two "boxes"... not sure what really goes in them. But what I'm trying to get at is that

[2017-09-04 18:02] JosephMcArthur commented on #39
For OpenCon Live this year I'd like to see us:
* Update the OpenCon live webpage design - #107
* Push people down two routes:
  * watching our new issue intro webcasts, and the meeting itself - #96
  * engaging with the doathon - #4
* continue to have a dedicated person at the meeting to voice questions from twitter. We should encourage people to "meet" there, rather than create siloed communities

[2017-09-04 20:56] JosephMcArthur commented on #78
- [x] @nshockey, can you confirm how many workshop type rooms (and which ones) we've ended up with. My notes suggest we could have as many as 8 rooms that could be used for workshops on Saturday & Sunday, but the sizes vary and that affects how we make groups.

Provisionally, here are some example room sizes: 128, 68, 42, 22, 24, 24, 12 with a lot of informal space good for smaller groups (~8) dot

[2017-09-05 11:21] JosephMcArthur commented on #4
I've spent an embarrassingly long time thinking about this, and not got very far. I have a few things to update on though.

* I'm worried that the workshop idea doesn't really reflect how people work, or help to engage people remotely. Instead, it might make more sense to provide & curate resources up front, and back that up with people who're willing to be "on-call" during the meeting to jump in

[2017-09-05 12:32] npscience commented on #4
Apparently this tool - http://lifehacker.com/thread-reader-reformats-tweetstorms-into-text-essays-1798630765 - can assemble twitter threads into essays.

This could deal somewhat with the difficulty of finding twitter convos again later, without the hassle of making storifys. So one option for increasing twitter info persistence.

Also, if people are concerned about joining twitter, they could mak

[2017-09-05 12:41] npscience commented on #90
+1 to make-a-zine!!

+1 also to the range of activities suggested above (Penny, I'd Bowie walk with you!!) - could we have an "activity evening" and OC alum (and confident newcomers) can propose things (and bring/arrange required props)?

We'd need a good park near the hotel for football, and maybe a room in the hotel or nearby for any inside activity.

[2017-09-05 12:54] npscience commented on #80
+1 to lightning talks / open mic for active/new projects based on the doathon doc. I've also experienced this (software sustainability institute workshop) and it helps focus the doathon.

+1000 to a panel of honesty @josephmcarthur - I too find these talks very useful. This community is the juice I need to inspire action, get my act together, confront my own blockers. Isn't that kind of advice and

[2017-09-05 18:17] #83 closed, assigned to lorrainechu3n

[2017-09-05 18:18] #86 closed, assigned to lorrainechu3n

[2017-09-05 18:35] char-siuu-bao commented on #88
@txtbks - thanks for flagging this during today's call. Will work on drafting a google doc with all the emails this week!

Could we make sure that this year's registration form has a question around accessibility needs (if it doesn't already?) This is something we recommended doing in our DEI report, so I want to make sure we do it in our own registration form!

[2017-09-05 18:40] guichactis commented on #14
great, I'll save the date @lorrainechu3n

2017-08-29 13:05 GMT-03:00 Lorraine Chuen <notifications@github.com>:

[2017-09-05 18:42] txtbks commented on #88
Thanks @lorrainechu3n!

Last year the registration form included a box for people to specify their accessibility needs, but I remember one of the pieces of feedback was to be clearer about what is provided up front so it doesn't put as much pressure on people to ask for things. I was thinking of adding a section on accessibility with 1. text describing what accommodations we will definitely have,

[2017-09-05 18:54] char-siuu-bao commented on #83
Note: Public CoC has been updated here - http://www.opencon2017.org/code_of_conduct

Google doc & discussions that preceded the update are here: https://docs.google.com/document/d/1LkywkSHDJAFmy4GsrY3W02jDO8l_Ovz2KSk9Ek68WQ4/edit#

[2017-09-05 18:58] char-siuu-bao commented on #96
Panel sounds great!  I think asynchronous is the most practical way to do it, although could we coordinate with speakers to make sure there's not too much basic introductory content overlap?

I'm less familiar with OER but we may be able to find some non-NA/non-Europe ones here: http://roer4d.org/

I'm sure @bradyyano and @txtbks have more suggestions!

[2017-09-05 19:01] char-siuu-bao commented on #107
Could the two boxes/buttons be "Learn" and "Contribute" (aligning with our two ways to engage with OpenCon Live?) and maybe a third one for streaming ...

[2017-09-05 19:01] char-siuu-bao commented on #107
Also love the idea of a mini site! LMK if you want help setting that up.

[2017-09-05 19:10] char-siuu-bao commented on #88
@txtbks That sounds great!  Do you mind sharing the copy we're using for that before it goes out?
 In our report, we also suggest to "Offer the option of discussing accessibility needs over the phone; this can minimize forming assumptions about the needs of the participant." - I'm not sure if that's something we'd like to do here as well.

A doc based off last year's email notifications copy can b

[2017-09-05 19:13] char-siuu-bao commented on #88
Just had another thought - did we want to send invitation and rejection emails out from different email addresses? (e.g. opencon@sparcopen.org for rejections and a staff email for invitations?) I imagine we don't want replies to acceptances lost in the helpdesk amongst the flurry of other responses and auto-replies we'll be receiving.

[2017-09-06 01:30] aldirdiri commented on #90
I really like the Food Tour idea (like the one we had in 2014). It did some good job in networking. I also like the other activities mentioned above (especially the sports one or maybe a Karaoke). Making a zing could be also useful in getting some work done.

The city tour might not be really effective. I attended a conference in DC last year were had a city tour but people ended up sticking to gr

[2017-09-06 12:30] #39 closed, assigned to JosephMcArthur

[2017-09-06 12:39] #56 closed, assigned to JosephMcArthur

[2017-09-06 12:39] JosephMcArthur commented on #67
being discussed in #4 & #80

[2017-09-06 12:46] JosephMcArthur commented on #87
In my initial site visit I covered a lot of this: https://docs.google.com/document/d/17ISTZcXBVmO4JvO5_I9AUuwnkOhKalcCQBimNqt7o7c/edit?usp=drive_web from our checklist (haven't looked at the one above).

A few key points:

* The venue doesn't have gender neutral bathrooms, but was happy with us setting this up.
* It's got good AV
* I recommended we use onsite hotel rooms for maternity/prayer/quiet

[2017-09-07 10:15] JosephMcArthur commented on #22
Thanks to everyone for their input here.

Our approach here is discussed & approved by the OC, with minutes kept. In short, we're going to try to continue to try and center:
* Diversity, Equality & Inclusion
* Culture change
* ECR's as key voices
 in the programming, while providing a lot of time for participants to chose their own programming through unconferences & doathons. Some big shifts are

[2017-09-07 10:15] #22 closed, assigned to nshockey

[2017-09-07 10:23] JosephMcArthur opened #108 "Choose R2RC award winner"
- [x] Discuss internally
- [x] Approve with OC

[2017-09-07 22:16] JosephMcArthur commented on #78
Got time to chat with @nshockey yesterday, with a few outcomes:
* we need to follow up with the venue about room space
* we want to stick to the number of rooms we have for workshops.
* we should split north american groups by institution type (R1, and others)
* within workshop groups, we should try not to further segment group in workshop plans. For example, we shouldn't facilitate small groups b

[2017-09-07 22:21] JosephMcArthur commented on #80
Discussed this issue with @nshockey yesterday. A few takeaways here that allow us to close this:
* the approach outlined above for project presentations is fine for the super workshops. However, in other cases, we should stick to more prepared presentations.
* We're good to move forwards on a successful EC initiatives panel that tries to speak to what I suggested in https://github.com/sparcopen/op

[2017-09-07 22:21] #80 closed, assigned to nobody

[2017-09-08 09:45] JosephMcArthur opened #109 "Finalize all venue requirements"
Deadline for most things is 10 days before

[2017-09-10 15:16] JosephMcArthur opened #110 "Make R2RC award process more participatory & showcase more people"

[2017-09-10 15:45] JosephMcArthur commented on #87
In progress of confirming all this with the venue (having already asked everything on the initial site site), will raise further issues as they arise.

Closing for now, @lorrainechu3n reopen if there is more you'd like to add / discuss.

[2017-09-10 15:45] #87 closed, assigned to JosephMcArthur, lorrainechu3n, nshockey

[2017-09-11 13:04] JosephMcArthur commented on #88
I think sending from opencon@sparcopen.org is fine, Zendesk filters most auto-responses out and then you're left with pretty obvious messages to filter (especially as the subject is different). Around this time is often when we have to go back & forth about funding with people too which is where I think Zendesk will actually excel.

@txtbks / @lorrainechu3n it would be great to get any updates on

[2017-09-11 14:07] char-siuu-bao commented on #96
@bradyyano has volunteered to put this webcast together!

[2017-09-11 14:54] KTsteen27 commented on #96
and me!

On Mon, Sep 11, 2017 at 10:07 AM, Lorraine Chuen <notifications@github.com>
wrote:

--
Katie Steen
SPARC <https://sparcopen.org/> | Open Education Fellow
21 Dupont Circle NW, Suite 800
Washington, D.C. 20036 USA
(816) 645-1189 cell
katie@sparcopen.org
@katiesteen627

[2017-09-11 14:58] char-siuu-bao commented on #96
@KTsteen27 - awesome! Keep us posted on the tentative timeline for putting this together!

[2017-09-11 20:06] char-siuu-bao commented on #88
OK so just reviewing things that I need by Wednesday:

Application Communications NEED from Nicole:

from @txtbks:
- Custom text:
    - List of costs covered by OpenCon
    - General acceptance blurb #2
- Custom links:
    - Registration link
    - Waitlist confirmation link

from @txtbks / @nshockey
- DATES: I've put September 22nd as the registration deadline, but should some dates be different

[2017-09-12 11:50] JosephMcArthur commented on #75
I've now updated the logistics page with basic information for this year. It's ready for feedback on what's on the page. While I was there I've done a big overhall of the page HTML to make it easier to edit & maintain (added styling, removing dead code & documented) so it should be easier to dive in if you want to add/change stuff directly.

Some notes on improvements I'm going to make:
- [x] reus

[2017-09-12 12:39] JosephMcArthur commented on #75
Starting to gather a longer list now:
- [x] Consider reordering the page links to preference higher relevance things
- [x] Decide where to put Nicole's medical / snack box.
- [x] Put in emergency numbers
- [x] Refactor 'sharing' sections to take up less space on header so other parts stand out
- [x] Add in something about our commitment to making everyone at opencon feel safe. Hopefully, encourage

[2017-09-12 14:59] char-siuu-bao commented on #75
@JosephMcArthur - thanks so much for putting this together! This looks already WAY more organized than last year's page, I think participants will really appreciate it.

[2017-09-12 15:34] txtbks commented on #85
Noting that this is in process! We've set up the form in this way: (1) list all of the accommodations that we provide, (2) provide a checklist of accommodations people can request, (3) provide a comment box for people to specify anything else. We also allow people the option to request a phone/skype call to discuss accommodations.

[2017-09-12 15:49] txtbks commented on #63
Note that in the registration form we collect the following information:
- First name (BIG FONT)
- Last name
- Affiliation (people were instructed to separate multiples with " / ")

Things we have and could consider including
- Twitter handle
- Country

Other design thoughts:
- Make nametags double sided, so when they flip around you still see the same info
- Include wifi, URL for sched, and hasht

[2017-09-12 15:54] char-siuu-bao commented on #85
Just looked over the form, @txtbks, and it looks great! Closing this issue.

[2017-09-12 15:54] #85 closed, assigned to txtbks, lorrainechu3n

[2017-09-12 22:01] char-siuu-bao commented on #63
maybe a link to the CoC at the back? or a mini summary of CoC / other quick reference links / emergency contacts for reference. (not on the badge itself but as a little insert we can put in the tag)

I would not try to fit too much information on the front of the tag itself - it will look crowded.

[2017-09-12 22:03] char-siuu-bao commented on #110
Also publicize what the criteria for choosing the award winner is?  Part of me wonders if it's a little bit echo-chamber-y from what you described (you choose someone who's done impactful work, but that works needs to be supported by R2RC in some way), which means the award is always going to be going toward someone we've already been supporting ... if that makes sense.

[2017-09-12 22:04] char-siuu-bao commented on #106
I think something to bring up on an OC call after app decisions go out, I think a lot of OC members would be happy to help curate/translate.

[2017-09-14 05:20] rchampieux commented on #4
I'm onboard too and apologies for the tardy feedback (vacationing 🌴 ).  @JosephMcArthur your reasoning for using Twitter as our chat platform makes a lot of sense.

Also @JosephMcArthur, can you can you clarify what you mean by:

I'm think I may be missing/misunderstaning some context.

[2017-09-14 09:05] JosephMcArthur commented on #75
Okay, done all the above, added a bunch more info, and put the page in the header.

Outstanding things can't be done until closer to the time (with a reminder at #74 and todo's in the code itself), or I'm awaiting info (which I'll slot in when that comes).

Going to close for now. But reopen if you want me to add more.

[2017-09-14 09:05] #75 closed, assigned to txtbks, JosephMcArthur, lorrainechu3n, nshockey

[2017-09-17 16:19] JosephMcArthur commented on #90
I recently dug this out from my may conference trinkets. Might be an idea that's helpful to encourage networking/conversation without booze.

![img_20170917_171617311](https://user-images.githubusercontent.com/4953703/30522685-1f593d3a-9bcc-11e7-954f-538488475f58.jpg)
![img_20170917_171627068](https://user-images.githubusercontent.com/4953703/30522686-1f6fac6e-9bcc-11e7-9802-9036f8defe0d.jpg)

[2017-09-19 14:23] JosephMcArthur opened #111 "Consider re-writing our rejection email"
This is likely to be considered as a part of rethinking the application process generally, but I wanted to leave a note regardless since we've got so many emails expressing anger at the similar text this year (one or two dozen)

[2017-09-19 18:13] char-siuu-bao commented on #4
I'm having some difficulty understanding how functional Twitter would be for chat in terms of a collaborative workspace context - threads get lost, there's a character max; would we organize each do-a-thon project by hashtag? Maybe I'm totally missing the mark on what folks are imagining, would love some clarity! @JosephMcArthur

[2017-09-21 21:04] char-siuu-bao opened #112 "Plan October Community Call"
We'll obviously go over what people have done for OA week, but I think it would also be nice to have a call on DEI in Open Access to complement that?  Maybe invite some guest speakers to speak and prompt community members to reflect on diversity and inclusion in the OA movement?

Would be curious to hear your thoughts, @JosephMcArthur, @nshockey - this is also looking at the list of potential DEI

[2017-09-24 23:14] Bubblbu opened #113 "OpenCon feat Open Knowledge Maps"
During the OER Congress I had a brief chat with Nicole about an idea that I've had previously. So before forgetting it again, I'll quickly submit this issue to discuss it with everyone.

Basically, I was thinking of creating an interactive visualization of the OpenCon participants based on [Open Knowledge Maps](openknowledgemaps.org) and the information provided in applications. I think that this

[2017-09-25 10:14] nshockey commented on #113
Really like this idea! I think it would be useful to display application text, provided we get participants' permission first.

[2017-09-27 08:21] JosephMcArthur commented on #110
I've put together some suggested guidelines & processes for this year (with room for improvement next year): https://docs.google.com/document/d/1CBOIxhrBbKw3QFcELdMuzlACHnu0iNq4oFMpfYTF8IM/edit?usp=sharing

@lorrainechu3n / @nshockey please let me know what you think.

[2017-09-28 19:33] char-siuu-bao commented on #65
Hi @JosephMcArthur, @txtbks, @nshockey — I can work on this this week.

What did we want the t-shirt design to have on the back this year?  We could do a map of all the satellite events that have happened up to date.

I'll also need the files for all the sponsor logos.

[2017-09-28 19:37] #88 closed, assigned to txtbks, lorrainechu3n

[2017-09-28 19:38] JosephMcArthur commented on #65
Sponsor logo's sent :)

On Thu, 28 Sep 2017 at 20:33 Lorraine Chuen <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-09-29 16:43] txtbks opened #114 "Hotel Roommate Assignments"
The topic of how we assign hotel roommates came up on the September 29 OC call, so opening this up so we can discuss. The main question is around whether we want to randomly match people or assign based on region in years past—or something else. Welcome @sparcopen/oc-opencon's thoughts!

[2017-09-29 17:32] thomasmboa commented on #114
My talk was to share with you some comments from our last meeting in
Washington.

Because it seems like room was matched depending of the colour of skins,
meaning that black african have shared room with black african.

I am sure that it was not your intention, but sharing room due to region
can be problematic. It is better to do it randomly, this will be bring more
diversty in interactions during

[2017-09-29 18:12] char-siuu-bao opened #115 "Design thinking tools as OpenCon workshop/do-a-thon activities"
What is design thinking? ["a human-centered approach to innovation that draws from the designer’s toolkit to integrate the needs of people, the possibilities of technology, and the requirements for business success."](https://www.ideou.com/pages/design-thinking)

Here are some design thinking tools that might be useful in guiding workshops at OpenCon or do-a-thon activities:

## **- Problem Framin

[2017-09-29 18:27] thomasmboa opened #116 "[dei-report] About diversity, inclusion and colonialism in Open(science, access, ....)"
Through these papers and presentations, I want to share with you our thoughts about diversity, inclusion and colonialism in Open (science, access, …), based on Project SOHA evidences on : obstacles to the adoption of Open Science in Haiti in Africa.

1-	Last week I was invited by the MIT Medialab to give a talk on the panel « inclusion and diversity.» During the Biosummit. In the 2nd part of my ta

[2017-09-29 18:28] guichactis commented on #114
The issue raised my attention as well, and I remember asking Nicole about hotel roommate assignment and she confirmed that it was made on a regional basis. I understood that this wasn't due to any bad intentions and it didn't exactly represent a problem for me, but I agree with Thomas that maybe a random approach could bring more diversity and, at least for me, may feel more inclusive. I think it

[2017-09-29 20:39] char-siuu-bao commented on #112
OK, chatted with @JosephMcArthur and moving DEI to another month so we can focus on "Open in Order To" theme as it will fall during OA week.  Plan on inviting speakers for a few key themes that we've highlighted during this week (just waiting to hear back from them now - but open to other speaker suggestions!) We'll also have a recap of OA week activities and campaigns that folks are working on.
-

[2017-09-29 20:44] char-siuu-bao opened #117 "Plan November 2017 OpenCon Community Call"
Potentially use this month's call to focus on diversity & equity in Open

[2017-10-03 15:27] #112 closed, assigned to nobody

[2017-10-06 16:55] #27 closed, assigned to txtbks, lorrainechu3n, bradyyano, KTsteen27

[2017-10-06 17:25] char-siuu-bao opened #118 "Create Do-a-Thon Microsite for Displaying Projects + How to Contribute Intuitively"
Reference sites:
- Mozilla Global Sprint: https://mozilla.github.io/global-sprint/
- Open Research Do-a-thon: https://github.com/sparcopen/open-research-doathon

[2017-10-06 17:32] char-siuu-bao commented on #118
Possible home-page - goal is to explain what the do-a-thon is, and easily link out to
(1) Contributing to projects
(2) Submitting a project for others to contribute to
(3) Exploring resources for project creation/management/learning more about Open (or whatever we think is useful) - not sure if this would be a useful button to have.

Homepage would also explains how the process of the do-a-thon wo

[2017-10-06 18:18] char-siuu-bao commented on #118
Clicking "Find a project" under Contribute would lead to our UI layer of a google sheet listing all the projects (using Sheetsu): the page could look something like this (each project could link out to the project's Github repo/issue, could also include a chat, and contact info for the project lead .... headings in the example table are just placeholders for now):

![opencon_doathon_mockups_contri

[2017-10-06 18:27] char-siuu-bao commented on #118
If we like this general way to organize things, our to-do list for our work sprint next week would look something like:
- [ ] Finalize information architecture - what do we want navigation to look like, how many sub-pages, etc...
- [ ] Write site copy for various sections (e.g. clear instructions, description, etc... this needs to be divided into sub-tasks eventually ... )
- [ ] Decide how people

[2017-10-06 19:34] char-siuu-bao opened #119 "New Code of Conduct - Implementation Action Points"
- [x] Add line to sponsor contract in 2018 about sponsored participants adhering to the CoC
- [x] Providing short prep/training guide for speakers/webcast speakers reminding them on not using discriminatory (e.g. ableist) language in their talks. Could be sent along with guidelines on making accessible slides.
- [ ] Recruit 1 or 2 OC members who may be appropriate to consult with for the Code of C

[2017-10-08 10:46] JosephMcArthur commented on #37
livestreamers confirmed. Pretty similar to last year.

[2017-10-08 10:46] #37 closed, assigned to JosephMcArthur

[2017-10-08 10:51] JosephMcArthur commented on #110
@lorrainechu3n would be great to get your thoughts on this next week :)

[2017-10-08 16:19] JosephMcArthur commented on #65
@lorrainechu3n would be great to get a draft for this early this week if that's possible :) Otherwise, a timeline would be helpful.

[2017-10-08 21:10] char-siuu-bao commented on #65
No problem! I was just hoping to have some feedback re/ what to include on
the back this year.

Thoughts?

On Sun, Oct 8, 2017 at 12:19 PM Joseph McArthur <notifications@github.com>
wrote:

[2017-10-09 05:02] JosephMcArthur commented on #65
Gah! Sorry, I remember thinking I like the idea while writing the message but for some reason didn't type that.

I like the idea, will be a lot to show! Although I worry it would make satellites this year feel less important on the shirt (if memory serves usually just that's years satellites are shown). If you think it's okay though, I'm good.

[2017-10-11 13:16] JosephMcArthur commented on #78
A small update here: https://docs.google.com/document/d/1JR65FPCDSXWY3J4HzSInLdjZqP7ksumjqr5s5xxh_C0/edit#heading=h.sqn3b3o8xfqs. I have made some example themes & plans for these workshops based off the last discussions with the OC.

Would invite feedback from @sparcopen/staff-opencon & @sparcopen/oc-opencon. @lorrainechu3n these workshops are based largely around design thinking, and so I'd real

[2017-10-16 08:00] npscience commented on #78
@JosephMcArthur I really like how the workshops aim to crystallise key issues for work in the doathon the next day. The example workshop plan makes sense to me.

Would it be worth encouraging post-it use in the first half exercises? I’ve found them a good way to capture thoughts concisely, and then you can reorganise: eg group by common theme, eliminate duplicates.

[2017-10-18 00:36] Bubblbu commented on #113
I just wanted to ask whether it is realistic to get a dump of the available data. I understand that this is absolutely not among the important things to do, but as an developer & attendee I'd quite curious to see the results.

So if there's a way to get the data, I'd love to give it a shot :)

[2017-10-19 10:36] JosephMcArthur commented on #14
We did this call & it was wonderful :)

[2017-10-19 10:36] #14 closed, assigned to JosephMcArthur

[2017-10-19 10:36] JosephMcArthur commented on #97
this is all in the works, not worth having an issue now!

[2017-10-19 10:36] #97 closed, assigned to JosephMcArthur

[2017-10-19 10:36] JosephMcArthur commented on #110
Moving this into the backlog as we're not going to manage it now.

[2017-10-19 10:37] JosephMcArthur commented on #65
@nshockey we're probably at the point where this will get expensive to do (rush orders and what not). Any clarity here?

[2017-10-19 10:41] JosephMcArthur commented on #107
I did a minor update to this last night, but didn't push live.

[2017-10-19 19:06] Bubblbu commented on #4
Do-a-thon page feedback: a few (subjective) comments

- Change the label of the button "November 13, 2017"? Doesn't really tell much about the function of the button. Maybe simply "Read more"?
- The text above "Submit a challenge" still has a hover effect
- I found it hard to read the "What is a do-a-thon?" section because I couldn't quickly parse the structure of the page.
    - Maybe emphasise t

[2017-10-19 19:59] char-siuu-bao commented on #4
Thanks @Bubblbu! @jpolka also mentioned the button thing - we have made it hopefully less confusing now!

And thank you for catching those other stylistic errors - hopefully it's organized a little more intuitively now!

[2017-10-23 21:20] rchampieux commented on #4
Hi @lorrainechu3n and @JosephMcArthur - overall the do-a-thon site looks great.  Thanks for all the time and thoughtfulness you put into it.  A few comments:

Submitting a Challenge:

I find this text slightly confusing, as it's unclear if/how the design thinking tools come into play (just yet).  Rather than mentioning them here, I'd suggesting concentrating on the connection between submitting a

[2017-10-23 21:34] npscience commented on #4
# Do-a-thon page feedback

I ❤️  that you can explore projects by contributions needed and region, thank you @lorrainechu3n  💯

**Major comments**
* I agree with @Bubblbu re hard to parse this amount of text, even after the restructure, and I have to admit I struggle on most of these pages. Some suggestions:
  * For key actions, instead of a link to submit Google form, make it a button to increase

[2017-10-23 21:42] rchampieux commented on #4
Hi @lorrainechu3n and @JosephMcArthur great work on the site!  A few points of feedback for you:

**Submit a Challenge**
* I think it would be more clear not to mention the design thinking exercises in this first paragraph, as it's unclear if they come into play at the challenge submission or solution/project submission stage.

* Consider flipping the order of the paragraphs below, as the second o

[2017-10-23 21:48] rchampieux commented on #4
Re the submit a challenge form, I would suggest making the form description more succinct - that's a lot of text and it communicates more than you need to get a good and well formatted challenge.

[2017-10-23 21:54] rchampieux commented on #4
The form includes the following issue areas:  Open Access, Open Research Data, Open Education, Open Research.
* I think people might be confused about the distinction between Open Research and the other categories.  Also, within the context of the do-a-thon are we only focusing on open research data or open data more generally.  I'd advocate for the latter.

[2017-10-23 22:41] rchampieux commented on #4
Hi...a little bit more feedback, this time mostlyon the project submission page.

* Step 1 refers to challenges and problems, not projects, which is a little confusing.  I think this should be slightly revised to refer more specifically to project submissions.

* I think it could be helpful to provide a couple project examples, as you did on the challenges, page.

* I agree with the comments from

[2017-10-23 22:57] char-siuu-bao commented on #4
Converting @npscience and @rchampieux's super helpful feedback into a mini to-do list here to keep track of (& to comment on!)

# Actions from Naomi's Feedback

**Major comments**

- [x] For key actions, instead of a link to submit Google form, make it a button to increase visibility on page
- [x] Limit column width of text so reader doesn't have to scan full width of computer screen. It's ok for

[2017-10-23 23:34] char-siuu-bao commented on #4
# Actions from Robin's Feedback

- [x] Submit a Challenge page: suggestion to not mention the design thinking exercises in this first paragraph, as it's unclear if they come into play at the challenge submission or solution/project submission stage.  (Note from Lorraine: want to make sure design thinking resources are easily noticeable and discoverable though - if at the bottom, folks might not ge

[2017-10-24 08:50] npscience commented on #4
Wow, amazingly quick response!

@lorrainechu3n @JosephMcArthur re: linking projects and challenges... I think it could be about establishing a practise using github referencing, yes. The danger of doing this via the OC website is that people might not navigate to the most relevant issue for adding a link. Worth watching what people do live?

[2017-10-24 09:00] JosephMcArthur commented on #4
I'm planning on making a simple explanation gif with all the Github things we want to see. I can include this practice there!

[2017-10-24 12:35] JosephMcArthur commented on #78
okay, this is now all being implemented, so closing now!

[2017-10-24 12:35] #78 closed, assigned to JosephMcArthur

[2017-10-24 18:49] JosephMcArthur commented on #4
Somewhere someone (@npscience or @rchampieux??) asked why there is a delay on getting the instructions for posting after submitting the form & if there is moderation required why not just remove stuff after posting. I just wanted to respond to that quickly!

We did discuss this, and it's likely it could be workable. However, in general, we find that the levels of spam / off topic (even well-meanin

[2017-10-25 06:49] npscience commented on #4
Thanks Joe, I said something about the form being a blocker but removed the comment after thinking a bit more. Good to hear the explanation! :smile:

[2017-10-26 19:37] bradyyano commented on #4
Hi both,

Just a couple of suggestions

- [x] It's really hard to know that 'here' is a hyperlink in this sentence "See the full list of challenges your fellow community members have put forward here." on this page https://sparcopen.github.io/doathon-dev/challenge.html . While it is underlined when you copy and paste the text, it is not appearing as such on my end.

- [ ] Under steps for submittin

[2017-10-26 19:49] katerinadima commented on #4
Hey guys,

Just submitted a challenge (both in actuality and to review the process).

In all honesty, I didn't encounter any bags or glitches - except for when you load a page, there is a weird interface appearing in between the change.

- I would like to echo the above comment on the guidelines!

- [x] It could be helpful if, when you select an issue from page https://sparcopen.github.io/doathon-

[2017-10-26 20:30] guichactis commented on #4
Hi everyone! Sorry for the delay @lorrainechu3n and @JosephMcArthur , specially since you've worked so hard on this. First of all, at firts glance it looks amazing!. But going through it as a not native English speaker, I find there's a lot of text and it can be hard to keep up with all of the instructions.

1. Challenge section

- I support the comments on the guidelines, are there any?.
- [x] Wh

[2017-10-26 22:33] JosephMcArthur commented on #66
judging by a conversation I had with Nick yesterday, and the timing, it seems like this isn't going to happen.

[2017-10-26 22:33] #66 closed, assigned to nobody

[2017-10-26 22:33] JosephMcArthur commented on #65
judging by a conversation I had with Nick yesterday, and the timing, it seems like this isn't going to happen.

[2017-10-26 22:33] #65 closed, assigned to lorrainechu3n

[2017-10-26 22:34] JosephMcArthur commented on #109
This is very close to being done, so closing for now!

[2017-10-26 22:34] #109 closed, assigned to JosephMcArthur, nshockey

[2017-10-26 23:48] InquisitiveVi commented on #4
Hi everyone, I'm joining here a bit late. Thank you @lorrainechu3n and @JosephMcArthur: the landing page is very informative. I tested Google form submissions.
- [x] ''What region is your project based '' question in both project and challenge submission forms doesn't allow multiple selection, however the text above reads, check all that apply.

[2017-10-27 11:45] JosephMcArthur commented on #4
Hey folks, just wanted to say thank you AGAIN for jumping in and all your great feedback.

In the last 12 hours @lorrainechu3n and I have made as much of your feedback into a todo list on here, and started to tick it off as far as we can with changes in response.

[2017-10-31 15:53] txtbks commented on #114
Circling back to this thread because we're about to make roommate assignments. Based on our discussion on the call and the feedback here, we will make assignments with an eye to matching people from different regions. If anyone else on @sparcopen/oc-opencon has feedback please let me know today!

[2017-10-31 19:11] JosephMcArthur commented on #96
This is all in the works now, so closing! Have a note to actually invite folks for the open research one to get that moving when we have time.

[2017-10-31 19:11] #96 closed, assigned to txtbks, JosephMcArthur, lorrainechu3n, nshockey, bradyyano

[2017-10-31 19:12] JosephMcArthur commented on #7
Closed by #89 and many other contributions from the OC.

[2017-10-31 19:12] #7 closed, assigned to JosephMcArthur

[2017-10-31 19:13] JosephMcArthur commented on #89
Personal emails from OC members to attendees are in progress. Closing this for now unless we think we have time to put together office hours, since it's not been mentioned yet I'm assuming not.

[2017-10-31 19:13] #89 closed, assigned to txtbks

[2017-10-31 19:13] JosephMcArthur commented on #76
folks are now on sched

[2017-10-31 19:13] #76 closed, assigned to txtbks

[2017-10-31 19:14] JosephMcArthur commented on #63
@lorrainechu3n any progress here, would be something we should finalize this week I expect.

[2017-10-31 19:14] JosephMcArthur commented on #72
@lorrainechu3n when you get a few minutes can you put together some logos for 2018, incase we need them?

[2017-10-31 19:17] JosephMcArthur commented on #46
I have a rough time for this. A broad agenda would be as follows:

* Build an agenda
  * [take a few minutes to make / update / close relevant issues with any new info](https://github.com/sparcopen/opencon/milestone/2)
  * discuss our agenda, is anything missing?
* [wrangling any final issues/decisions/to-do's we need to make](https://github.com/sparcopen/opencon/milestone/2) - Joe
* [Program walk

[2017-10-31 19:17] JosephMcArthur commented on #48
Have got time for this. Will keep this open for checklists if needed.

- [x] Note: #55
- [x] Check checklists
- [x] Check slides in venue if possible
- [x] Slides direction slides
- [x] Check rooms. Assign names.
- [x] Talk with Sandra
- [x] make sure reception knows me

[2017-10-31 19:18] JosephMcArthur opened #120 "Ask speakers / project presenters to send summary slides / abstracts (to distribute, supports remote participants + ESL speakers)"

[2017-10-31 19:19] JosephMcArthur commented on #120
We've done this with all speakers! Considering closed.

[2017-10-31 19:19] #120 closed, assigned to nobody

[2017-10-31 19:21] JosephMcArthur opened #121 "Review accessibility needs in conference registration form. Get in touch with participant if needed"

[2017-10-31 19:22] JosephMcArthur commented on #121
@lorrainechu3n / @txtbks this was on here as a note, I've just turned it into an issue incase it needed tracking more closely.

Hopefully, we're all set here and if someone can confirm and close that would be great.

[2017-10-31 19:23] #61 closed, assigned to nobody

[2017-11-01 05:03] JosephMcArthur commented on #91
done!

[2017-11-01 05:03] #91 closed, assigned to JosephMcArthur

[2017-11-01 05:06] JosephMcArthur commented on #79
- [ ] One thing I need to make sure gets done here is on Saturday lunch people will meet here to have lunch. Whoever is on the desk will need to know about this.

[2017-11-01 16:50] nshockey commented on #64
I marked a few things as done above. Stacie estimates that we have enough pronoun ribbons for this year. We'll produce the table cards and any other signage needed in Berlin the week before. Same goes for our essential supplies box. We may have enough stickers as well, though I'll have to check. I wouldn't worry about buying extra batteries / chargers / converters in advance. If people need them,

[2017-11-01 17:54] JosephMcArthur commented on #49
- [x] Check & adjust layout of breakout rooms after SOS session to get ready for unconference. Venue staff can’t do this.
- [x] morning do testing over everything in every room with micheal. He won’t be there for most of the time.
- [x] immediately check all rooms for SOS set up. Put table names down.
- [x] collect up spare flipcharts after the unconference for the workshops the next day
- [ ] nig

[2017-11-02 07:26] JosephMcArthur commented on #79
P.s I secured space for this, and have a "help desk" on the agenda.

[2017-11-02 07:27] JosephMcArthur commented on #47
Done!

[2017-11-02 07:27] #47 closed, assigned to nobody

[2017-11-02 21:32] txtbks commented on #79
Ok per our conversation today, Shawn and I will work this out, and we'll make sure to have time during the walkthrough to run down the list of things (above) and make sure we're all on the same page.

[2017-11-02 21:38] txtbks commented on #79
Collecting all of the things into one list (add as we think of them)...

Helpdesk can help with:
- Registration
- Wifi
- Using Sched
- Directions / maps
- Code of conduct
- Slide submission / testing
- Printing

Helpdesk offers:
- Basic medical and hygiene supplies
- "Emergency" food
- Basic office supplies (scissors, markers, pens)
- List of nearby facilities (pharmacy, health clinic, hospital)

[2017-11-02 21:49] txtbks opened #122 "Design Nametags, etc."
- [x] Nametags (already done and brought over by @KTsteen27)

- [x] Nametags for people who registered late

- [x] Speaker name signs

[2017-11-02 21:51] txtbks opened #123 "Print Things"
- Find print shop
- Print nametags not printed in DC
- Print speaker table tents
- Print podium sign

[2017-11-02 21:56] txtbks commented on #122
@JosephMcArthur Do we know the wifi information yet? Would be helpful to print on nametags.

[2017-11-02 22:09] KTsteen27 opened #124 "Dine-A-Rounds"
- [x] Create list of restaurants near the venue/hotel
- [x] Assign people to lead dinner (travel to restaurant, gathering attendees)
- [ ] Create sign-up lists
- [x] Make reservations

Reservations should be made for 8 pm.

[2017-11-02 22:09] txtbks commented on #121
I sent a summary our a couple weeks ago (by email), and nothing else has been added since then!

[2017-11-02 22:28] txtbks commented on #54
I'll plan on bringing my personal laptop (2013 Macbook Air with mini display port), which is what we used last year.

[2017-11-02 22:31] #114 closed, assigned to txtbks

[2017-11-02 22:36] txtbks opened #125 "Confirm volunteer roles"
- Registration desk in the morning
- Extra help desk staffing
- Timekeeping
- Notetaking
- Dine arounds

[2017-11-02 22:38] txtbks opened #126 "Hotel checkin"
Have staff present at hotel to manage check-in process.

- Shawn will check in on Thursday and be primary person on call
- @KTsteen27 or @bradyyano will stay behind on Friday to manage registration and picking up of metro cards
- @txtbks will be on call to address any issues with the data

[2017-11-02 22:42] txtbks opened #127 "Send roommate assignments and hotel confirmation numbers"
- Roommate assignment
- Confirmation number (if requested)
- Instructions on where to pick up opencon welcome letter (mention metro ticket for scholarship people)
- Breakfast and wifi

[2017-11-03 00:49] nshockey commented on #123
The plan is to have Stacie make the nametag in the office on Monday and for Shawn to bring them over with her. We'll still need to print everything else in Berlin. Attaching podium info that @JosephMcArthur got from the venue earlier today.
[The Harnack Haus is not responsible for any failures oft he measuremen1.pdf](https://github.com/sparcopen/opencon/files/1439793/The.Harnack.Haus.is.not.respon

[2017-11-03 00:58] nshockey commented on #53
A few thoughts here:

- Make sure SPARC Europe is listed on the sponsor slides as an Organizing Partner
- Create slides with demographic information on this year's participant pool and possibly program speakers as well
- Should we include a slide with a short link to the Code of Conduct and instructions for getting in touch with organizers?

[2017-11-03 00:58] txtbks commented on #123
@nshockey OK - that may mean an alternate design plan... I told @JosephMcArthur I could do it, but really won't have capacity over the weekend.

[2017-11-03 01:00] nshockey commented on #63
Just a note that we should have this finalized by Monday, Nov 6, so that Stacie can print and make these in the SPARC office.

[2017-11-03 01:01] nshockey commented on #70
We're currently having discussions with partners in the Toronto area about which local institutions might be able to host OpenCon—hopefully with the space as an in-kind contribution. Will keep this thread updated as this progresses.

[2017-11-03 01:03] nshockey commented on #71
We're currently working with a firm to identify hotels in the Toronto area that could be a good fit.

[2017-11-03 01:07] nshockey commented on #90
Bumping this thread up @sparcopen/staff-opencon. Any ideas for this that we should use on the Saturday evening reception? Or for the closing reception on Monday? Both will be at the Harnack House immediately following the end of the day.

[2017-11-03 01:08] nshockey commented on #100
@JosephMcArthur I imagine you've already got a plan for this. When are we planning to open submissions for the unconference?

[2017-11-03 01:17] nshockey commented on #123
@lorrainechu3n @JosephMcArthur do we have capacity to get the name tags ready before mid-day Monday? If possible, I do think it would be helpful to have them printed in the SPARC office and taken care of ahead of arriving in Berlin. If not, I'm sure we can find a way to make it work in Berlin.

[2017-11-03 01:24] txtbks commented on #123
It just occurred to me that I'll be on UK time Monday so probably can get this done by midday US time. We'll inevitably need to print more once we get to Berlin, but agree it would be easier to get the bulk done here.

[2017-11-03 01:31] char-siuu-bao commented on #123
@nshockey @txtbks — I can do my best to do it on Saturday - if not I'll keep you all posted and sounds like Nicole might have capacity to do on Monday?  Could you please provide me with all the necessary template information, though?  E.g. if you want to print on the avery nametags again, please let me know the exact size and product # !!

[2017-11-03 01:32] #115 closed, assigned to nobody

[2017-11-03 01:33] char-siuu-bao commented on #107
@JosephMcArthur did you push live since this last comment 2 weeks ago?

[2017-11-03 01:52] txtbks commented on #123
@lorrainechu3n There's some cleaning and collating that needs to happen with the data, so I'm thinking it's probably easiest for me to just do it Monday (though of course go ahead if you want to!)  Can email Stacie about the template info.

[2017-11-03 01:55] char-siuu-bao commented on #123
No problem, I'll leave it to you!

On Thu, Nov 2, 2017 at 9:52 PM Nicole Allen <notifications@github.com>
wrote:

[2017-11-03 08:53] JosephMcArthur commented on #107
Nope, there is one bug I haven't sorted yet. You can "preview" it though.
We still need to the "watch intro videos" & "join the do-a-thon" buttons
too.

On Fri, 3 Nov 2017 at 02:33 Lorraine Chuen <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitt

[2017-11-03 09:25] JosephMcArthur commented on #121
sent a summary to staff? I don't recall having seen anything. Don't suppose you could ping me any info you have, I want to make sure we've dealt with anything we can at the venue.

[2017-11-03 09:27] JosephMcArthur commented on #124
venue suggested food nearby:

* Piaggio – italian restaurant
* Alter Krug – german restaurant
* Luise – international restaurant (students like the atmosphere there)

All of them are at Dahlem-Dorf – 1 U-train station away or appr. 10-15 min walking distance.
Another one would be:

* Eierschale – international / italian restaurant – 2 U-train station away (Podbielskiallee)

[2017-11-03 09:27] JosephMcArthur commented on #124
cc @nshockey about trying to get this sorted. Please veto if you'd like it to not be done for any reason.

[2017-11-03 09:30] JosephMcArthur commented on #100
Hoping to prep all this over the weekend to go out in an early email next
week.

J

On Fri, 3 Nov 2017 at 02:08 Nick Shockey <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcar

[2017-11-03 10:02] JosephMcArthur commented on #84
@lorrainechu3n I'm going to be asking all the speakers on the panels I'm managing comms with to be conscious that folks with ESL will be present - and to talk much slow than usual.

Might be good to say the same to DEI. Just a small step in the right direction here. =

[2017-11-03 10:08] JosephMcArthur commented on #74
I'm going to update and more or less finalize over the weekend (I hope). I'm going to add:
- [x] how to get metro cards
- [x] note that people won't be picked up from the airport (had a few q's)
- [x] include food info on all days
- [x] include more accessibility info from the venue.
- [x] include info on how to connect with attendees
- [x] include parking info
- [ ] include a pdf of info

anythin

[2017-11-03 10:09] JosephMcArthur commented on #58
The venue is literally next door to the source of internet in the local area, and has eduroam. Seems like this probably isn't required so I'm going to close.

[2017-11-03 10:09] #58 closed, assigned to nobody

[2017-11-03 10:11] JosephMcArthur commented on #105
@txtbks / @bradyyano / @KTsteen27 can one of you find someone on the OC who can be trawling twitter for questions (and inviting them) from virtual folks - and is ready to read them out on people's behalf?

[2017-11-03 10:22] JosephMcArthur commented on #50
- [x] @slobo665 to walk round all workshops after each session & photograph all outputs. Then, we'll get them uploaded.
- [ ] nightly email
- [x] print workshop plans for hosts

[2017-11-03 10:33] pennybphd commented on #74
Helping people coordinate getting back to the airport to get home -
especially if they have early morning or late night flights? Can group
people with similar flight times.

On Fri, 3 Nov 2017 at 10:08, Joseph McArthur <notifications@github.com>
wrote:

[2017-11-03 11:25] slobo665 commented on #50
Yap

On Fri, Nov 3, 2017 at 11:22 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-11-03 12:07] nshockey commented on #124
I think this is a good idea; however, I would suggest that we identify restaurants around the hotel and encourage people to go there. Downtown Berlin will have a much better selection of restaurants than out by the venue.

[2017-11-03 15:23] npscience commented on #74
Advice on money: euros in cash, how much would we expect that should be for dinners (some local knowledge may be handy here), do places accept AmEx, cards, etc.

[2017-11-03 17:54] JosephMcArthur commented on #74
This is all wonderful, thank you! Keep it coming!

On Fri, 3 Nov 2017 at 16:23 Naomi Penfold <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-11-04 02:47] aldirdiri commented on #74
- How to get to the hotel from the airport (bus, train and taxi including their prices)
- Emergency contact numbers of one or two OC members (should also be connecte to WhatsApp).

[2017-11-04 07:30] JosephMcArthur opened #128 "Venue Digital Room Signage"
We have digital signs for each room that display what will be happening outside each room each day (one sign per day). This is done in landscape.

It would be great to get these made!

[2017-11-04 09:04] JosephMcArthur opened #129 "Feedback on new Sched help page"
We found a way to have a custom page on Sched, displayed as part of the header so it's easy to see.
We're going to use this to display a help page for common questions.

I've started this page, and would love to know if I missed anything big @sparcopen/oc-opencon / @sparcopen/staff-opencon. Are there any Sched questions you have, or have had asked of you, that you'd like to see here?

https://docs

[2017-11-04 12:01] JosephMcArthur commented on #74
@sparcopen/staff-opencon I'm trying to put together a checklist for preparing to attend to go on this page. Any additions (it all needs wordsmithing at the moment)?
      <li>Sign up for Sched and complete your profile</li>
      <li>[optional] Sign up for Twitter to follow the conversation online</li>
      <li>Sign up for Github</li>
      <li>Introduce yourself on the Facebook Group</li>

[2017-11-04 14:35] JosephMcArthur commented on #101
done! Will go live soon.

[2017-11-04 14:35] #101 closed, assigned to nobody

[2017-11-04 14:36] JosephMcArthur commented on #99
in the works!

[2017-11-04 14:36] #99 closed, assigned to nobody

[2017-11-04 14:38] #98 closed, assigned to nobody

[2017-11-04 14:52] JosephMcArthur commented on #103
in the works!

[2017-11-04 14:52] #103 closed, assigned to nobody

[2017-11-05 13:43] JosephMcArthur commented on #100
okay, this is all set! This year I:

* wrote a facilitation guide for sessions: https://docs.google.com/document/d/124EI4z5vRejc3ZirugBDcDwTj9yA-ZPvC34g8uMTG2E/edit#
* updated the unconference page to have more session ideas, and generally be a bit more refined
* de-emphasised voting, and things that people don't do
* gave session facilitators MUCH more info, and suggested they start prepping asap

[2017-11-05 13:43] #100 closed, assigned to nobody

[2017-11-05 21:27] JosephMcArthur commented on #123
Note, this is connected with #77

[2017-11-05 23:26] nshockey commented on #100
One final question here. Do we need to give people some guidance on what kinds of things to propose for the unconference vs. doathon? It seems like some differentiation might be useful.

[2017-11-05 23:33] nshockey commented on #74
To Osman's points above, we should include information on where to buy a ticket to use public transit at the airport, how much it will cost, and methods of payment accepted (in addition to the step-by-step instructions for making the journey).

[2017-11-05 23:36] JosephMcArthur commented on #74
I think I've got this up already!

On Mon, 6 Nov 2017 at 00:33 Nick Shockey <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-11-05 23:44] nshockey commented on #74
Great to have the detailed instructions up, but I also think it's important to provide info on how and where to buy tickets for public transit and how much it'll cost.

[2017-11-06 07:46] pennybphd commented on #74
Definitely - machines only taking German cards is a major point for example.

On Sun, 5 Nov 2017 at 23:44, Nick Shockey <notifications@github.com> wrote:

[2017-11-06 09:08] slobo665 commented on #74
I was using my Italian and my Serbian Visa and Master card in Berlin, both
works well, even Vpay.

Best
Slobodan

On Mon, 6 Nov 2017 at 08:46, pennybphd <notifications@github.com> wrote:

--
Sent from my iPhone. Please excuse any typos.

[2017-11-06 09:17] pennybphd commented on #74
In the city, yes, but the machines for buying tickets at the airport never
worked for me or others I was with.

On Mon, 6 Nov 2017 at 09:08, Slobodan Radicev <notifications@github.com>
wrote:

[2017-11-07 08:33] JosephMcArthur commented on #79
In morning registration, can we put more staff on the desk & expand it to:

* check if people have signed in on sched yet. That can be seen at a glance here: https://opencon2017.sched.com/editor/users?r=artists . That way we can see if people have their SOS / workshop session successfully assigned.
* take a temperature check on the do-a-thon. We can define some quick, yes / no questions in #46 (e.

[2017-11-08 10:09] JosephMcArthur commented on #77
while we're at print shops & out for stuff we need:

- [ ] a lot of post-its in a variety of colors
- [ ] colored sharpies
- [ ] colored stickers (the little circular ones)

[2017-11-08 10:41] char-siuu-bao commented on #77
Big chart paper too!
On Wed, Nov 8, 2017 at 10:09 AM Joseph McArthur <notifications@github.com>
wrote:

[2017-11-08 11:18] RaoOfPhysics commented on #104
Do we want to move this discussion further?

[2017-11-08 11:22] RaoOfPhysics commented on #57
Suggestions:

- [ ] workshop leads/hosts
- [ ] sponsors
- [ ] alumni who reviewed applications

[2017-11-08 11:28] char-siuu-bao commented on #104
@RaoOfPhysics We discussed this on a staff call and decided it might be a little hard to implement in practice — that being said .... I just remembered one of our participants, Linda Lew is a zine expert!! I believe she used to run the Aukland Zinefest  (and I'm planning to do a zine swap with her while we are in Berlin!) - we could see if she's up for informally facilitating something, but I'm no

[2017-11-08 11:28] char-siuu-bao commented on #121
I received a summary from Nicole, i can forward to you @JosephMcArthur

[2017-11-08 11:30] pennybphd commented on #104
Maybe a small group of us can doathon it?

On Wed, 8 Nov 2017 at 11:28, Lorraine Chuen <notifications@github.com>
wrote:

[2017-11-08 11:33] #118 closed, assigned to JosephMcArthur, lorrainechu3n

[2017-11-08 11:35] char-siuu-bao commented on #104
@pennybphd, yes that could definitely potentially work!! If a zine was a do-a-thon output, I would love for it to have a clear goal and purpose so it could be usefully re-distributed in the open community (e.g. maybe one built off of DEI conversations could be super awesome!!)

[2017-11-08 11:50] bradyyano commented on #77
Hi all, Nicole says that it is going to be difficult if not impossible to find post-its that are not yellow. I would suggest we ask Shawn to do a Staples run in DC before she comes over to get the stuff Joe listed. Obviously Shawn can't bring the chart paper, so hopefully we can find that...

[2017-11-08 11:51] JosephMcArthur commented on #77
We've got chart paper at the venue already, so that's okay!

On Wed, 8 Nov 2017 at 12:50 bradyyano <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-11-08 11:51] bradyyano commented on #77
So shall we ask Shawn, and if so what is the quantity we require for each?

[2017-11-08 11:57] txtbks commented on #77
@JosephMcArthur I would suggest moving the checklist for office supplies to a separate issue, since it's going to be a separate mission.

[2017-11-08 11:59] txtbks commented on #123
Closing this since I think everything is captured in #77

[2017-11-08 11:59] #123 closed, assigned to txtbks, bradyyano, KTsteen27

[2017-11-08 12:01] txtbks commented on #122
@JosephMcArthur @lorrainechu3n - is there a plan for the lectern sign, or do you need me to take care of that too? And if so please LMK if you have a specific vision for the design.

Lectern sign dimensions (moved over from the PDF):
Frontfläche innen: B = 56,2cm; H = 118,7cm
Breite Front komplett: B = 60cm
Höhe Rednerseite: H = 110,5cm
Ablagefläche: B = 56,2cm; T = 35cm
2* inkl. Mikrofonanschluss

[2017-11-08 12:04] txtbks commented on #77
@lorrainechu3n could you please send us all of the specs for the booklets?

[2017-11-08 12:10] char-siuu-bao commented on #77
I just chatted with Brady about this. They are not done yet, but it should
be about 10 pages, regular paper size. We can just staple them together. It
will be black and white, and we're planning on printing about 20 copies
just to distribute around the doathon tables. Would be helpful to know if
there was a hard deadline for when you need them to be printed!
On Wed, Nov 8, 2017 at 12:04 PM Nicole

[2017-11-08 12:28] JosephMcArthur commented on #77
I'd encourage us to have these for the workshops too, where we'll need more than this. Probably 40 would be good (5 copies of each for 7 workshops, plus a few spare). Lorraine, will these booklets have all the exercises (including examples etc) we've suggested in the workshops. That's what we've promised to hosts.

[2017-11-08 12:30] JosephMcArthur opened #130 "Office supplies"
moved from #77

- [x] a lot of post-its in a variety of colors
- [x] colored stickers (the little circular ones)
- [x] colored sharpies
- [x] envelopes (we have 102 letters to give out, so 100 is probably fine...)
- [x] scissors

[2017-11-08 12:37] char-siuu-bao commented on #77
Yep! Basically exercises from slides condensed into doc format - with some
support text, just need to format it and write more clear instructions ...
hope to do tonight or tomorrow t the latest!
On Wed, Nov 8, 2017 at 12:28 PM Joseph McArthur <notifications@github.com>
wrote:

[2017-11-08 12:55] txtbks commented on #63
They are already in Berlin, thanks to Katie!
Front: big first name, small last name, small affiliation.
Back: wifi, sched link, CoC link, hashtag

Will need to do a second run here for the people who registered late, but the bulk are done.

[2017-11-08 12:55] #63 closed, assigned to txtbks

[2017-11-08 12:55] txtbks commented on #54
Confirming I brought it. Think we can close this and move over to #55.

[2017-11-08 12:55] #54 closed, assigned to txtbks

[2017-11-08 12:59] txtbks commented on #55
Confirming I brought my personal laptop (Macbook Air from 2013-ish), which is the same one we used last year. I didn't bring a dongle or extra charger though. I've set up a clean user on the laptop like last year.

[2017-11-08 13:01] JosephMcArthur commented on #122
@txtbks if you could that would be really helpful. The only specific is that Nick wants MPG & ideally PLOS too, at the bottom.

[2017-11-08 13:51] JosephMcArthur commented on #130
Roughly (as I need to be on a call for a few hours):

Post its: (5 per group* * 5 number of groups per workshop * 7 number of workshops) = ~180
Sharpies (or similar, but maybe cheaper, pen): ~200 (one per person)
Stickers: ~100 (only one workshop requested these cc @npscience )

* assuming one pack is 100.

[2017-11-08 14:37] smlemick commented on #130
We may have that many post its on hand because we hardly used any during the past 2 OpenCons.  Can we cut back the number we schlep over?

[2017-11-08 15:08] KTsteen27 commented on #77
@JosephMcArthur how many do we need for each print job? Can you add quantity to the current list of items?

[2017-11-08 15:14] bradyyano commented on #77
@JosephMcArthur what is the printing budget? Just want to make sure we are going to be able to stay within it

[2017-11-08 15:25] nshockey commented on #77
After the banner for the table, I think we have ~$700 left in the printing budget. As always, the goal is to do this cheaply, but we can spend more if we have to. I image that's more than sufficient though.

[2017-11-08 15:40] txtbks commented on #122
@JosephMcArthur Do we have print ready files for them? Should we have a SPARC logo too?

[2017-11-08 15:42] txtbks opened #131 "Stock help desk supplies"
- [x] Aspirin, Tylenol (Nicole has Aspirin) (Shawn got Ibuprofen)
- [ ] Antacid
- [ ] First aid kit or band aids
- [ ] Feminine supplies
- [x] Carbohydrate rich food (granola bars?) (Shawn got two packs of granola bars)
- [x] Scissors (have)
- [ ] Time keeper packets
  - [ ] Popsicle sticks (I was at a craft store and they didn't have these)
  - [x] colored paper (got red and yellow paper),
  - [

[2017-11-08 15:42] char-siuu-bao commented on #122
I don't think we've had the sparc logo on the lectern in the past.

If you need an .Eps file let me know!
On Wed, Nov 8, 2017 at 4:40 PM Nicole Allen <notifications@github.com>
wrote:

[2017-11-08 15:45] txtbks commented on #122
I have the SPARC .eps, would be great if you have the OpenCon one handy! (And MPG and PLOS too)

[2017-11-08 16:51] JosephMcArthur commented on #122
Personally, I think having a SPARC logo is a touch OTT, as then we'd probably need an R2RC logo too and the text to introduce it. But, @nshockey is the best judge.

Logo's as follows:
* mpg https://www.dropbox.com/s/57v5zjatd9tkflo/MPG.EPS?dl=0
* opencon https://www.dropbox.com/s/h2ir7r96482ii82/OpenCon2017_Logo_Horizontal.eps?dl=0
* plos https://www.dropbox.com/s/1ehjt7sei3r44dm/PLOS_logo_print.e

[2017-11-08 17:50] txtbks opened #132 "Compile final attendee data"
- Regional breakdown
- Gender breakdown
- Scholarship allocation by region
- Number of countries represented
- Percentage of first time attendees

Anything else?

[2017-11-08 21:34] JosephMcArthur commented on #107
this is done!

[2017-11-08 21:34] #107 closed, assigned to nobody

[2017-11-08 21:34] JosephMcArthur commented on #108
chosen & notified :)

[2017-11-08 21:34] #108 closed, assigned to nobody

[2017-11-08 21:36] JosephMcArthur commented on #121
we've handled all these and asked for things we've missed in every email.

[2017-11-08 21:36] #121 closed, assigned to nobody

[2017-11-08 21:57] nshockey opened #133 "Check in letter"
I've updated our welcome letter for this year, available here: https://docs.google.com/document/d/1bQBZJ3iEgVp7hIjnsaMrlF6mkPErUHVSOuUYdLiMtJU/edit#

@sparcopen/staff-opencon, would be good to get a quick review. Then, we will need to:

- [x] Confirm how many of each version we will need
- [ ] Buy envelopes
- [x] Print out the appropriate number of copies
- [ ] Sign the letters & stuff the envelop

[2017-11-08 22:12] JosephMcArthur commented on #129
I've now posted this. Testing with people who ask me for sched help.

[2017-11-08 22:12] #129 closed, assigned to JosephMcArthur

[2017-11-08 22:16] nshockey commented on #133
Updated letter to include a note about breakfast at the hotel.

[2017-11-08 22:22] nshockey commented on #132
Add percentage of participants who are first-time OpenCon attendees

[2017-11-08 22:23] KTsteen27 commented on #74
Brady added this information to the logistics [page.](http://www.opencon2017.org/logistics#tohotel)

[2017-11-08 22:25] JosephMcArthur commented on #74
Anything else we should be doing here... otherwise I'll add a PDF & close!

[2017-11-08 22:25] KTsteen27 commented on #74
Nope! I think we're good to close and add the PDF.

[2017-11-08 22:39] JosephMcArthur commented on #74
DONE!

[2017-11-08 22:39] #74 closed, assigned to JosephMcArthur

[2017-11-08 22:43] txtbks commented on #133
Letter looks good. Can obviously take care of the numbers, and happy to add to our print batch tomorrow. Will see if we come across envelopes.

[2017-11-08 22:49] char-siuu-bao opened #134 "On-Stage Remarks and Opening Slides"
- [ ] Need demographic breakdown data from @txtbks  in order to create this slide
- [ ] Slide thanking OC
- [ ] Slide thanking sponsors by group
- [ ] Slide detailing CoC
- [ ] Housekeeping slide

*** still making this list!

[2017-11-08 22:50] char-siuu-bao commented on #134
** Need to make desktop background for speaker laptop too

[2017-11-08 22:51] txtbks commented on #134
Background already done and put on the computer :)

[2017-11-08 22:59] nshockey commented on #42
Is there any prep we should be doing for the survey right now, and can we set a time immediately following the conference to make changes and send it out?

[2017-11-08 23:08] char-siuu-bao commented on #42
I have a google doc set up to draft it! On my to do list. I can try to
finish by tomorrow.

On Wed, Nov 8, 2017 at 10:59 PM Nick Shockey <notifications@github.com>
wrote:

[2017-11-08 23:13] JosephMcArthur commented on #128
worked on a design with @lorrainechu3n. Doing a proof with the venue & if good will drop in all of these. I can take us home here I think, closing.

[2017-11-08 23:13] #128 closed, assigned to nobody

[2017-11-08 23:20] char-siuu-bao commented on #42
Drafting here if folks want to take a look / give feedback. still very much a draft -
 https://docs.google.com/document/d/1i7MR7ZBPH84bt04R9j5hY6hZ2qiTdfG_pcQ1yckPoxk/edit#

[2017-11-09 09:20] txtbks commented on #133
Letters are printed.

[2017-11-09 10:42] RaoOfPhysics commented on #90
Been out of the loop, but do we still need ideas for this? If so, how formal/informa/semi-formal are we talking?

[2017-11-09 11:49] JosephMcArthur commented on #4
THANK YOU 💯 🥇 👍  to everyone for their feedback here. We're going to shut now, as we're trying to make sure we're focusing on issues that need urgent work in the final hours.

Please drop us emails with more feedback, or grab us in person, when / if you have it.

[2017-11-09 11:49] #4 closed, assigned to JosephMcArthur

[2017-11-09 11:50] JosephMcArthur commented on #84
Using youtube we get auto-captioned video.

Not much more we can do now, so closing to keep final to-dos clear.

[2017-11-09 11:50] #84 closed, assigned to lorrainechu3n

[2017-11-09 11:53] JosephMcArthur commented on #67
I think we've done planning this! Closing, please re-open if needed.

[2017-11-09 11:53] #67 closed, assigned to txtbks, bradyyano, KTsteen27

[2017-11-09 12:16] JosephMcArthur opened #135 "update sponsor contract for 2018"
from #119

* Add line to sponsor contract in 2018 about sponsored participants adhering to the CoC

[2017-11-09 12:17] JosephMcArthur commented on #102
I can do this personally tomorrow and have already made some edits. No reason for us all to worry about it.

[2017-11-09 12:17] #102 closed, assigned to nobody

[2017-11-09 12:18] JosephMcArthur opened #136 "Plan OC Dinner"

[2017-11-09 12:23] nshockey commented on #90
Right now the plan is to have them be informal, but still open to ideas if folks have 'em!

[2017-11-09 12:28] JosephMcArthur opened #137 "Group creation & coordination for the u-bahn"

[2017-11-09 13:41] txtbks commented on #122
Done!

[2017-11-09 13:41] #122 closed, assigned to txtbks, bradyyano, KTsteen27

[2017-11-09 13:42] char-siuu-bao commented on #119
Recruiting Vinodh (waiting for confirmation from Robin).  Closing for now.

[2017-11-09 13:42] #119 closed, assigned to lorrainechu3n

[2017-11-09 13:45] char-siuu-bao commented on #53
Yep I'm starting to put this together!

https://github.com/sparcopen/opencon/issues/134

I can do the rolling slides too but will need someone to look over them

[2017-11-09 13:45] KTsteen27 commented on #62
]

[2017-11-09 13:45] #62 closed, assigned to nobody

[2017-11-09 14:08] #124 closed, assigned to txtbks, bradyyano

[2017-11-09 14:09] txtbks commented on #127
Closing because this is now on my personal to-do list.

[2017-11-09 14:13] txtbks commented on #53
I'm compiling the data for the participant slides in #132. Will have them by Friday afternoon!

[2017-11-09 14:19] JosephMcArthur commented on #59
Lorraine to write. Nick to say.

[2017-11-09 14:19] #59 closed, assigned to nshockey

[2017-11-09 14:20] txtbks commented on #132
Closing this because it's on my personal to do list.

[2017-11-09 14:20] #132 closed, assigned to txtbks

[2017-11-09 14:21] JosephMcArthur commented on #105
@txtbks to ask April.

[2017-11-09 14:23] nshockey commented on #137
Possible u-bahn leaders marked in far right column of decisions sheet here: https://docs.google.com/spreadsheets/d/1LnycufwfLumVfEB00Knlfd6yZUQNCLW_CAX6idW78-Q/edit#gid=0&fvid=2112835283

[2017-11-09 14:23] JosephMcArthur commented on #137
- [ ] @lorrainechu3n to send a note to people on the list above

[2017-11-09 14:23] char-siuu-bao commented on #137
i have instruction email text from last year that we can modify to email out to walking leaders:

Hi everyone,

Thank you so much for volunteering to help out with guiding participants to the venue over the next few days! I realize this was a last minute request, and we are very grateful for your assistance. We're hoping it will be pretty simple - here's what you need to know for Saturday and Sund

[2017-11-09 14:23] JosephMcArthur commented on #137
- [ ] me to post public transit help in logistics email

[2017-11-09 14:24] JosephMcArthur commented on #137
- [ ] decide someone to stay at the hotel

[2017-11-09 14:24] char-siuu-bao commented on #137
Hi <<name>>!

Hope you had a smooth trip to DC! Can I ask you for a really last minute favour? We need a few more volunteers to help out with guiding groups of participants from the hotel to the conference venues this weekend. If you can let me know as soon as possible if you could help out with this that would be amazingly helpful.

Understand if you're not comfortable doing this, but if you coul

[2017-11-09 14:25] JosephMcArthur commented on #137
* groups of 8-10 for 122 people.

At least 15.

[2017-11-09 14:26] JosephMcArthur commented on #137
- [ ] shawn to test instructions.

[2017-11-09 14:28] JosephMcArthur commented on #79
- [ ] joe / shawn / katie / brady to discuss

[2017-11-09 14:30] JosephMcArthur commented on #77
- [ ] look at backup prints / supplies shop in the area we can go to JUST in case

[2017-11-09 14:37] JosephMcArthur commented on #133
Next year, seems like we might not actually need a letter. Emails are fine??

[2017-11-09 14:39] JosephMcArthur commented on #133
@txtbks to attached a pdf of the letter.

[2017-11-09 14:41] JosephMcArthur commented on #64
got, or don't need, all of this.

[2017-11-09 14:41] #64 closed, assigned to nobody

[2017-11-09 14:44] txtbks commented on #133
To clarify, I'm sending everyone an email confirming their hotel reservation tonight, and will attach the welcome letter when I do. Scholarship recipients will be instructed to check in at the welcome table for their metro pass.

[2017-11-09 14:48] txtbks commented on #127
Reopening and closing #133, which will be attached to this email.

[2017-11-09 14:48] txtbks commented on #133
Taken care of by #127.

[2017-11-09 14:48] #133 closed, assigned to txtbks

[2017-11-09 14:56] JosephMcArthur commented on #60
@KTsteen27 please document chats from today

[2017-11-09 15:05] JosephMcArthur commented on #130
- [x] plain paper
- [x] duck tape
- [x] stapler
- [ ] blue tac

@KTsteen27

[2017-11-09 15:05] char-siuu-bao commented on #130
*clarifying 180 pads of sticky notes ... not 180 individual sheets of paper

[2017-11-09 15:12] JosephMcArthur opened #138 "program re-org after speaker drop out"

[2017-11-09 15:13] JosephMcArthur opened #139 "open reactions facilitator"

[2017-11-09 15:24] char-siuu-bao commented on #137
Will reach out to find caboose

[2017-11-09 16:11] KTsteen27 opened #140 "Day Negative One Checklist (Friday)"
Please add more:
- [ ] Bring signs to venue

[//]: # "=======================
Instructions for posting issues:
(1) Review what is already there. Perhaps a comment to an existing issue would be more appropriate than opening a new one? Issues can be a topic idea, a cry for help, a to-do, or a discussion / question about OpenCon itself.
(2) Write your post (below this text blob) using Markdown (as pe

[2017-11-09 17:52] JosephMcArthur commented on #94
done, but not released.

[2017-11-09 17:52] #94 closed, assigned to nobody

[2017-11-09 17:52] JosephMcArthur commented on #93
did this!

[2017-11-09 17:52] #93 closed, assigned to JosephMcArthur

[2017-11-10 12:12] JosephMcArthur opened #141 "Staff reflection / learnings gathering / debrief"

[2017-11-10 15:24] txtbks opened #142 "Finalize feedback form"

[2017-11-10 17:00] #48 closed, assigned to JosephMcArthur

[2017-11-10 17:08] char-siuu-bao commented on #137
We have 14 confirmed leaders for Day 1 (and more for Day 2 and 3 - because of those with delayed flights) - if each take 9-11, that will definitely cover all hotel attendees plus anyone coming to hotel first (i don't think there will be taht many).
Leaders are:

Achintya
Vinodh
Luc
Tony
Katerina
Asura
Vinodh
Amie
Laura
Chris F
Linda L
Marcel
Josie
Zoe

Slobodan and Jessica from the OC are the cabo

[2017-11-10 17:08] #137 closed, assigned to nobody

[2017-11-10 17:09] char-siuu-bao commented on #142
I need to do a feedback form for OpenCon Live participants but I'll take care of that

[2017-11-10 17:10] txtbks commented on #132
@lorrainechu3n The data for everything except scholarship allocation is in a new tab in the decisions spreadsheet (Final Data). I'll add a couple more quick summaries that might be interesting, and then dig into the scholarship numbers, which is going to be a slog.

[2017-11-10 17:10] char-siuu-bao commented on #52
This is happening tonight at the hotel lobby! Closing.

[2017-11-10 17:10] #52 closed, assigned to nobody

[2017-11-10 17:22] #138 closed, assigned to JosephMcArthur

[2017-11-10 17:22] #46 closed, assigned to JosephMcArthur

[2017-11-11 01:56] #127 closed, assigned to txtbks

[2017-11-11 01:57] #131 closed, assigned to txtbks, bradyyano, KTsteen27

[2017-11-11 01:58] txtbks commented on #130
This is a done as it is going to be!

[2017-11-11 01:58] #130 closed, assigned to txtbks, JosephMcArthur, bradyyano, ShawnDaugherty

[2017-11-11 01:59] #126 closed, assigned to txtbks

[2017-11-11 02:03] txtbks commented on #77
Only last thing is table tents for new speakers on Sunday. But we could just skip the whole panel for that. I have a couple of print shops nearby marked.

[2017-11-11 02:03] #77 closed, assigned to txtbks, bradyyano

[2017-11-11 02:04] txtbks commented on #79
This will be fine.

[2017-11-11 02:04] #79 closed, assigned to txtbks

[2017-11-11 02:07] txtbks commented on #60
Katie and Brady are all over this.

[2017-11-11 02:07] #60 closed, assigned to txtbks, bradyyano, KTsteen27

[2017-11-11 05:07] JosephMcArthur commented on #90
Thanks all, no more time for input here!

[2017-11-11 05:07] #90 closed, assigned to nobody

[2017-11-11 05:07] JosephMcArthur commented on #125
Looking at the roles expected:
Registration desk in the morning
Extra help desk staffing
Timekeeping
Notetaking
Dine arounds

I think we have these now, or at least the issues for all these have been closed!

[2017-11-11 05:07] #125 closed, assigned to txtbks

[2017-11-11 05:08] JosephMcArthur commented on #134
These seem to be more or less done, or at least, there is no time for group input now

[2017-11-11 05:08] #134 closed, assigned to nobody

[2017-11-11 06:50] #140 closed, assigned to nobody

[2017-11-11 07:29] JosephMcArthur commented on #49
@lorrainechu3n little reminder to open a doc for the nightly email so we can all stick stuff in it as needed.

[2017-11-11 08:16] char-siuu-bao commented on #49
Nightly logistics email you mean?

Lorraine
On Sat, Nov 11, 2017 at 8:29 AM Joseph McArthur <notifications@github.com>
wrote:

[2017-11-11 22:52] JosephMcArthur commented on #136
done!

[2017-11-11 22:52] #136 closed, assigned to nobody

[2017-11-11 22:52] #49 closed, assigned to nobody

[2017-11-11 22:52] #55 closed, assigned to txtbks

[2017-11-11 22:52] #53 closed, assigned to txtbks, bradyyano, KTsteen27

[2017-11-12 12:16] bradyyano commented on #142
Add questions about the regional workshops, engage hosts on their thoughts on questions.

[2017-11-13 08:59] txtbks commented on #142
Also a note that we need to hook this up to a certificate generator - @lorrainechu3n @JosephMcArthur

[2017-11-13 09:00] txtbks commented on #42
Designed in #142

[2017-11-14 10:23] char-siuu-bao commented on #142
Just jotting down a note that we should add more questions about do-a-thon outputs and new projects that came out of OpenCon - this is recorded in Github but would also be nice to add a short-answer question that we could potentially publicly share on our site, etc... . @JosephMcArthur

[2017-11-14 18:26] txtbks commented on #113
Sorry I was a month late in sending the data, but glad it worked! 👍

[2017-11-15 15:56] #105 closed, assigned to txtbks

[2017-11-15 15:57] txtbks commented on #42
Here's a draft of the form (please do not try and fill it out yet!) https://docs.google.com/forms/d/1pZnHgX8wpFonuzxMbXV_VhsB-imwFIntmKP3Y7KpGKg/edit

[2017-11-15 15:57] #57 closed, assigned to nobody

[2017-11-15 15:58] JosephMcArthur commented on #139
didn't manage to actually do this in the end.

[2017-11-15 15:58] #139 closed, assigned to nobody

[2017-11-15 15:58] #50 closed, assigned to nobody

[2017-11-15 15:58] #51 closed, assigned to nobody

[2017-11-15 15:58] JosephMcArthur commented on #141
- [x] have in-person meeting
- [x] spend time documenting each of our duties & what we learned
- [ ] schedule all staff meeting

[2017-11-18 19:44] JosephMcArthur opened #143 "Debrief with speakers"
- [ ] did they feel prepared?
- [ ] what could we have done better to prepare them?
- [ ] what do they wish they'd known before, now?
- [ ] any general feedback as attendees?

planning to ask this over email with everyone.

[2017-11-18 19:44] JosephMcArthur opened #144 "Debrief with workshop hosts"
- [ ] did they feel prepared to give the workshop?
- [ ] what could we have done better?
- [ ] would you do it again?
- [ ] what do they wish they'd known before, now?
- [ ] we're you stressed / feel prepared
- [ ] any general feedback as attendees?
- [ ] did they think this was a better attempt at workshops than other they'd seen before?
- [ ] what would they change next year?
- [ ] can they walk

[2017-11-19 22:00] JosephMcArthur commented on #144
@lorrainechu3n anything to add to this list before I draft something?

[2017-11-19 22:00] JosephMcArthur commented on #143
@lorrainechu3n anything to add to this list before I draft something?

[2017-11-19 22:10] JosephMcArthur commented on #43
going to do this with #143

[2017-11-19 22:10] #43 closed, assigned to nobody

[2017-11-19 22:10] JosephMcArthur commented on #143
- [ ] include thanks & videos in email

[2017-11-19 22:10] JosephMcArthur commented on #144
- [ ] include thanks in the email & their video

[2017-11-20 14:27] JosephMcArthur opened #145 "OpenCon Sustainability blog"

[2017-11-20 14:28] JosephMcArthur opened #146 "Create 2018 Gaant"
- [x] refresh last year's issues
- [ ] include #141 learnings in issues
- [x] set up gaant / repo for 2018
- [x] review gaant's sanity & order of programming

[2017-11-20 14:28] JosephMcArthur opened #147 "Create 2018 OC"
- [x] code up suggestions we already have
- [x] create proposed oc
- [x] finalize
- [x] make any expectations changes for the OC
- [x] invites go out
- [x] sketch out a date for an OC call before 2018

[2017-11-20 14:28] JosephMcArthur opened #148 "Impact report update"
- [ ] scope updates, what's feasible
- [ ] figure out data we need & assign who gets it
- [ ] draft text
- [ ] review text
- [ ] design it
- [ ] publish & promote

[2017-11-20 14:28] JosephMcArthur opened #149 "DEI report update"
- [ ] scope updates, what's feasible
- [ ] figure out data we need & assign who gets it
- [ ] reflect and debreif on dei at the meeting and identify next steps
- [ ] draft text
- [ ] review text
- [ ] design it
- [ ] publish & promote

[2017-11-20 14:32] RaoOfPhysics commented on #147
Are you open to nominations from current OC for proposed OC?

[2017-11-20 14:34] JosephMcArthur commented on #147
Absolutely! Best to email us though, since this is “personal” issue we tend
to avoid discussing publicly.

On Mon, 20 Nov 2017 at 15:32 Achintya Rao <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur

[2017-11-20 14:36] RaoOfPhysics commented on #147
That was my feeling as well. Wasn't going to discuss this openly. :)

[2017-11-20 14:38] JosephMcArthur commented on #113
@Bubblbu so glad to see this become a thing! Do you still need this issue, or can we close it? Probably better as part of the do-a-thon repo.

[2017-11-20 14:41] char-siuu-bao commented on #149
Do we want to do this (and the community report) before 2018?  Just trying to figure out my timeline and list of things to wrap up!

[2017-11-20 15:33] JosephMcArthur commented on #148
- [ ] update impact survey
- [ ] email previous alumni an updated version of the impact survey
- [ ] put the impact survey of the website

[2017-11-20 15:34] JosephMcArthur opened #150 "Survey Alumni on their Impact [in May]"
following up from #148

- [ ] Figure out how to draw out impact chains from the survey
- [ ] Figure out how to get more quantitative data (e.g like what Raym suggested in sustainability planning)

[2017-11-20 15:34] JosephMcArthur commented on #148
- [ ] update homepage stories & impact section

[2017-11-20 16:56] Bubblbu commented on #113
Yes! Should be moved over to the doathon repo :) Will do!

[2017-11-20 16:56] #113 closed, assigned to nobody

[2017-11-21 19:32] JosephMcArthur commented on #44
have told all sponsors about this, will send notes along to Lorraine when they respond. Good to respond!

[2017-11-21 19:32] #44 closed, assigned to JosephMcArthur

[2017-11-21 19:34] JosephMcArthur commented on #144
Waiting to hear more from the OC & some initial feedback here, just so we ask the right questions! Pushing this to next week.

[2017-11-21 19:34] JosephMcArthur commented on #143
Still awaiting videos, expecting I'll get this done next week now.

[2017-11-21 19:52] char-siuu-bao commented on #143
Can I debrief with the DEI speakers? I was already planning on thanking
them individually but this seems like a good place to do both!

On Tue, Nov 21, 2017 at 2:34 PM Joseph McArthur <notifications@github.com>
wrote:

[2017-11-21 19:56] JosephMcArthur commented on #143
Oh yes, sorry, had assumed you’d do that!

On Tue, 21 Nov 2017 at 19:53 Lorraine Chuen <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-11-22 15:13] JosephMcArthur commented on #149
Scope:
* update figures from this year
* update learnings
* Share COC enforcement process
* rename to "V2"
* DEI "favourite session" data
* Potential discussion of dei trade-offs

Process:
* start a gdoc with comments
* focus on non-COC issues to start with.

[2017-11-24 15:25] guichactis commented on #143
Not sure this is the correct issue to bring this up, but could it be possible to include certificates of attendance/panel participation in this email? I haven't seen and issue about this, and was about to write to you asking if this was planned. I think I remember last year you sent a link to participants. Just asking because I have to present some paperwork back at the office.

[2017-11-24 17:39] txtbks opened #151 "Clean and release open data and code"
- 2017 application data (@txtbks)
- 2017 release of application software code (@jangondol)

Deadline somewhat flexible, but let's get this done before the end of the year!

[2017-11-24 17:45] jangondol commented on #151
Which naming convention should be used here? Some options:

- For historical continuity: `opencon-2017-app-data` + `opencon-2017-app-code`
- Simpler (and consistent with Connect OER naming): `opencon-2017-data`, `opencon-2017-code` (seems nicer, we can also optionally rename old repos to use this naming scheme)

[2017-11-24 17:55] txtbks commented on #151
Please keep consistent with what is in the repo now `opencon-{year}-app-{code/data}`. I ultimately settled on this convention when we migrated since we have other bits of code and data floating around, and want to keep the app information clear.

[2017-11-24 17:58] jangondol commented on #151
OK, will do. For the record, [changing GitHub repository names is safe](https://help.github.com/articles/renaming-a-repository/) - links are automatically redirected, even command line tools keep working.

[2017-11-24 18:03] txtbks commented on #151
In that case, feel free to name it however you like, and I'll change it later! 😝

[2017-11-25 05:43] jangondol commented on #151
Just re-sent an e-mail to you (from early Nov.) related to this (subject: "flipping the switch!"). Will wait for your decision... 🤙

[2017-11-25 20:33] txtbks commented on #151
Permission granted to flip at will! 🐳

[2017-11-25 21:08] txtbks commented on #149
Re: figures, the data for attendees is clean and ready in the decisions sheet. Might want to check that the speaking roles are properly marked (I haven't been maintaining those), but I can confirm that the attendees, OC, and general scholarship recipients are confirmed correct. If you have any trouble deciphering just let me know! Hope to have the full open data for applicants up in the next coupl

[2017-11-27 17:50] JosephMcArthur commented on #117
done!

[2017-11-27 17:50] #117 closed, assigned to lorrainechu3n

[2017-11-27 17:52] JosephMcArthur commented on #42
done!

[2017-11-27 17:52] #42 closed, assigned to lorrainechu3n, nshockey

[2017-11-27 17:52] JosephMcArthur commented on #142
done!

[2017-11-27 17:52] #142 closed, assigned to txtbks, bradyyano, KTsteen27

[2017-11-28 15:42] Bubblbu opened #152 "Links to the individual talks and presentations in Youtube descriptions"
It would be nice to have the outline of the day + links to minutes+seconds in the long livestream videos

[2017-11-28 17:44] char-siuu-bao commented on #152
Great idea @Bubblbu, we'll make sure that happens! Everything will be up by the end of the week!

[2017-12-04 18:50] JosephMcArthur commented on #144
these are going out today, closing this!

[2017-12-04 18:50] #144 closed, assigned to JosephMcArthur

[2017-12-04 18:52] JosephMcArthur commented on #143
@guichactis we'll do certificates in these, thanks for the nudge!

Going out today, closing this.

[2017-12-04 18:52] #143 closed, assigned to JosephMcArthur, lorrainechu3n

[2017-12-04 22:00] JosephMcArthur opened #153 "Plan super workshops"
- [ ] collate & review feedback
- [ ] collate materials used in 2017
- [ ] consider changes to propose
- [ ] discuss as staff
- [ ] approve with OC
- [ ] make issues for implemention

[2017-12-05 18:23] char-siuu-bao commented on #151
Hi @txtbks and @jangondol - I'm working on the DEI report this week. Is the cleaned and processed data stored somewhere? I can't seem to find it. Thanks!

[2017-12-05 18:39] char-siuu-bao commented on #151
Sorry - ignore that message. Just realized Nicole mentioned already it was cleaned and marked in the Decisions spreadsheet!

[2017-12-05 18:48] char-siuu-bao commented on #151
@txtbks - would it be possible to have the data formatted as you did for the DEI report in the summer? It was anonymized and coded by column. @nshockey would like me to write the DEI update before the end of December (before I leave) so it would be good to get the data cleaned and formatted similar to last year sooner rather than later!

[2017-12-05 18:49] char-siuu-bao commented on #149
@nshockey and @JosephMcArthur could you give me a better idea of what you want the data visualizations to look like? Do you want just this year's data, or do you want it to compare against previous years?

[2017-12-05 19:24] JosephMcArthur commented on #149
My feeling is that for the self-evaluation it's all about being able to measure how we're doing, so being able to compare is important. No idea what the trade-offs are though in choosing that.

[2017-12-05 19:25] char-siuu-bao commented on #149
Just wanted to know so I could figure out how to format it visually.

[2017-12-06 05:46] txtbks commented on #151
I am back from Nepal on Friday and will try to do it over the weekend. If not can definitely get it fine by next Friday. Also do you need the application data? That is not cleaned for release yet, and probably won't be until week of Dec 18, but I can send you the raw file if needed.

[2017-12-07 18:32] JosephMcArthur opened #154 "Plan Do-a-thon for 2018"
- [x] collate & review feedback
- [x] collate materials used in 2017
- [x] consider changes to propose
- [x] discuss as staff
- [x] approve with OC
- [x] make issues for implemention

[2017-12-07 18:41] JosephMcArthur opened #155 "Communications for the Application Period"
Discussions:
- [ ] Evaluate comms last year
- [ ] Did we succeed in upping the % of researchers reached last year?
- [ ] what are our goals for the application process this year more broadly?

Todos:

- [ ] website
  - [ ] frontpage
  - [ ] applications flow pages (e.g app complete page = /thank_you)
  - [ ] subpages for explaining Open Access, Open Data, Open Education (link from frontpage)
- [ ]

[2017-12-07 18:45] JosephMcArthur opened #156 "Plan OpenCon Live"
- [x] evaluate 2017
- [x] confirm webcasters
- [x] liase with webcasters to make sure they're prepared
- [x] find an OpenCon live host
- [x] plan and prepare communications
- [x] prepare webpages

[2017-12-07 18:45] JosephMcArthur opened #157 "Plan what pre-con activities to do"
Last year we struggled to get our webcasts produced on time, and also started to think they weren't the best way to provide info.

What do we want to do this year? What can we do in the first 1/2 of the year to prepare?